<template>
  <div class="container--no-nav lock-footer">
    <div class="container">
      <img class="main__logo--with-link" src="../../assets/logo.png" alt="">
    </div>


      <form class="auth-form" @submit.prevent="accept">

        <router-link class="link-hover--back" :to="{ path: '/'}" replace>
          <img src="./assets/back.png" alt="">
          Go back to login
        </router-link>

        <!-- <router-link class="forgot__link" :to="{ path: '/'}" replace>Go back to login</router-link> -->


        <div class="welcome">
          <h1 v-if="!reset" class="welcome__heading">Complete your account setup!</h1>
          <h1 v-if="reset" class="welcome__heading">Complete your password reset!</h1>
          <p v-if="!reset" class="welcome__lead">Finish setting up your password below.</p>
          <p v-if="reset" class="welcome__lead">Enter your new password below.</p>

        </div>

        <div class="row auth-form__fields">
          <div class="col-12">
            <div class="form-group form-has-icon mb-4">
              <span class="has-float-label">
                <input v-model="password" class="form-control" id="pass" type="password" placeholder=" " />
                <label for="pass">Password</label>
              </span>
              <img src="./assets/login-pass.png" alt="">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group form-has-icon">
              <span class="has-float-label">
                <input v-model="passwordConfirm" class="form-control" id="pass2" type="password" placeholder=" " />
                <label for="pass2">Confirm Password</label>
              </span>
              <img src="./assets/login-pass.png" alt="">
            </div>
          </div>

      </div>

      <div class="row">

        <div class="col-12">
          <p v-if="error" class="form-error">{{error}}</p>
          <p v-if="errorState.state" class="form-error">{{errorState.reason}}</p>

          <button class="auth-form__button" type="submit">
            <span v-if="!pending">{{ reset ? 'Reset' : 'Set' }} Password</span>
            <span v-if="pending">
              <img src="./assets/spinner.svg" class="auth-form__button__spinner" alt="">
            </span>
          </button>
        </div>


      </div>
    </form>

    <contact class="contact--footer"></contact>

  </div>

</template>

<script>
  import Contact from '../contact/Contact'
  import { mapGetters } from 'vuex'

  export default {
    name: 'app',
    data () {
      return {
        items: [],
        success: '',
        error: '',
        password: '',
        passwordConfirm: ''
      }
    },
    props: ['reset'],
    components: {
      'contact': Contact
    },
    computed: {
      ...mapGetters([
        'errorState',
        'pending'
      ])
    },
    methods: {
      accept () {
        if (this.password === '') {
          this.error = 'Please enter a password.'
        } else {
          if (this.password === this.passwordConfirm) {
            this.$store.dispatch('accept', { password: this.password, token: this.$route.query.token }).then(() => {
              this.$store.dispatch('logout')
              this.$router.push({ name: 'Login', props: { message: 'Log in with your new password here.' } })
            })
          } else {
            this.error = 'Sorry those passwords don\'t match.'
          }
        }
      },
      logout () {
        this.$store.dispatch('logout').then(() => {
          this.$router.push('/')
        })
      }
    }
  }
</script>

<style lang="scss">

  @import "../../scss/custom";
  @import "~bootstrap/scss/bootstrap";

  .container--no-nav{
    @extend .pt-5;
  }

  .contact--footer{
    background: $linear-background;
  }

  .form-error{
    color: $red;
    font-weight: 500
  }


    .auth-form{
      max-width: 400px;
      @extend .mx-auto, .px-4;
    }


  .main__logo--with-link{
    width: 130px;
    @extend .mb-4, .d-block;
  }

  .forgot__link{
    @extend .mb-4, .d-block;
  }


</style>
