<template>
  <div>
    <div class="header--gradient">
      <div class="header__wrapper">
        <navigation :title="customerFullName(job.customer)"></navigation>
        <dashboard :date="new Date(selectedDate)"  :job="job" editable="true" :nojob="noJob"></dashboard>
        <calendar @filtered="dateChanged" v-bind:min="minDate" v-bind:max="maxDate" :customerid="job.customer.id" :key="job.customer.id" :datestart="job.date"></calendar>
        <!-- <calendarjob :customerid="job.customer.id" :currentjob="job"></calendarjob> -->
      </div>
    </div>

    <tasks v-if="!noJob" :job="job" :user="customer" parent_type="Job"></tasks>
    <div class="job__none">
      <p v-if="noJob">There are no scheduled jobs for this day</p>
    </div>

  </div>

</template>

<script>
  import Calendar from '../calendar/Calendar'
  import Navigation from '../navigation/Navigation'
  import Dashboard from '../dashboard/Dashboard'
  import Tasks from '../tasks/Tasks'
  import { mapGetters } from 'vuex'

  export default {
    name: 'job',
    data () {
      return {
        months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        selectedDate: '',
        noJob: false
      }
    },
    props: {
      id: {
        required: true
      }
    },
    components: {
      'calendar': Calendar,
      'navigation': Navigation,
      'dashboard': Dashboard,
      'tasks': Tasks
    },
    computed: {
      ...mapGetters([
        'jobsPast',
        'jobs',
        'allJobs'
      ]),
      role () {
        return this.$store.state.currentUser.role
      },
      job () {
        var job = this.allJobs.find(job => job.id === Number(this.id))
        return job
      },
      minDate () {
        return Math.min.apply(null, this.allJobs.map(job => Number(new Date(job.date))))
      },
      maxDate () {
        return Math.max.apply(null, this.allJobs.map(job => Number(new Date(job.date))))
      }
    },
    mounted () {
      this.noJob = false
      this.$store.dispatch('getJobs')
      // this.$store.dispatch('getPastJobs')
    },
    methods: {
      customer () {
        var customer = this.customers.find(cust => Number(cust.id) === Number(this.id))
        return customer
      },
      changed (evt) {
      },
      customerFullName (job) {
        return job.first_name + ' ' + job.last_name
      },
      updateTask (taskId, jobId, prop, val) {
        var taskChange = {}
        taskChange[prop] = val
        this.$store.dispatch('updateTask', { 'data': taskChange, 'id': taskId, 'jobId': jobId })
      },
      tasks (category) {
        return this.job.ordered_tasks.filter(task => task.category === category)
      },
      updateCheck (taskId, jobId, name) {
        this.$set(this.isComplete, taskId, !this.isComplete[taskId])
        this.updateTask(taskId, jobId, name, this.isComplete[taskId])
      },
      newTask (jobId) {
        this.$store.dispatch('newTask', {
          task: {
            'parent_id': jobId,
            'category': 1,
            'cycle': 0,
            'parent_type': 'Job'
          }
        })
      },
      dateChanged (value) {
        var dateString = value.getFullYear() + '-' + (('0' + (value.getMonth() + 1)).slice(-2)) + '-' + (('0' + value.getDate()).slice(-2))
        console.log('dateString')
        console.log(dateString)
        var newJobId = this.allJobs.find(job => {
          console.log('job.date')
          console.log(job.date)
          if (job.date === dateString) {
            if (Number(job.customer_id) === Number(this.job.customer_id)) {
              return true
            } else {
              return false
            }
          } else {
            return false
          }
        })
        this.selectedDate = dateString
        if (typeof newJobId !== 'undefined') {
          this.noJob = false
          this.$router.push({name: 'Job', params: {id: newJobId.id}})
        } else {
          this.noJob = true
        }
      }
    }
  }
</script>

<style lang="scss">

@import "../../scss/custom";
@import "../../scss/styleguide";
@import "~bootstrap/scss/bootstrap";

  .dashboard,
  .job__none{
    max-width: 600px;
    @extend .mx-auto;
  }

  .job__none{
    @extend .py-5, .px-4;
  }

  .dashboard__tasks__task--create{
    @extend .dashboard__tasks__task;
  }

  .dashboard__tasks__task--create__icon{
    @extend .mr-2;
    width: 30px;
  }

  .dashboard__tasks__task--create__name{
    font-size: 1.3rem;
    color: $purple;
    @extend .mb-0;
    &:hover{
      cursor: pointer;
    }
  }



</style>
