<template>
  <div>
    <div class="header--gradient">
      <div class="header__wrapper">
        <navigation :title="userType == 'customer' ? 'Customers' : 'Gurus'"></navigation>
        <!-- <dashboard></dashboard> -->
        <div v-if="role === 'admin'" class="new">
          <div class="button-new" @click="newUser">
            <img src="./assets/new.png" alt="">
            Add a New {{ userType == 'customer' ? 'Customer' : 'Guru' }}
          </div>
        </div>
        <div class="search">
          <input class="search__input" v-model="searchString" type="text" placeholder="Search">
        </div>

      </div>

    </div>

    <div class="edit-form">

      <div class="edit-form__list">

        <div @click="userLink(user.id)" class="edit-form__list__job" v-for="user in userSearch(searchString)">
          <div>
            {{ userFullName(user) }}
            <div v-if="userType === 'customer'" class="service__prev">
              <span :class="userHasTemplate(user.id, 1)">M</span>
              <span :class="userHasTemplate(user.id, 2)">T</span>
              <span :class="userHasTemplate(user.id, 3)">W</span>
              <span :class="userHasTemplate(user.id, 4)">T</span>
              <span :class="userHasTemplate(user.id, 5)">F</span>
              <span :class="userHasTemplate(user.id, 6)">S</span>
              <span :class="userHasTemplate(user.id, 0)">S</span>
            </div>
          </div>
          <img class="edit-form__list__job__icon" src="./assets/jobs-inspect.png" alt="">
        </div>

      </div>

    </div>
  </div>

</template>

<script>
  import Dashboard from '../dashboard/Dashboard'
  import Navigation from '../navigation/Navigation'
  import { mapGetters } from 'vuex'

  export default {
    name: 'customers',
    props: ['userType'],
    data () {
      this.$store.commit('NOT_PENDING')
      this.$store.dispatch('getJobs')
      this.$store.dispatch('getUsers')
      return {
        selectedDate: '',
        showPast: false,
        searchString: ''
      }
    },
    components: {
      'dashboard': Dashboard,
      'navigation': Navigation
    },
    computed: {
      ...mapGetters([
        'role',
        'customers',
        'jobs',
        'templates',
        'gurus'
      ]),
      userTypeObject () {
        var self = this
        if (this.userType === 'customer') {
          var sorted = this.customers.slice(0).sort(function (a, b) {
            var first = Number(self.dayWithId(a.id))
            var second = Number(self.dayWithId(b.id))
            return first - second
          })
          console.log(sorted)
          return sorted
        } else if (this.userType === 'guru') {
          return this.gurus
        }
      }
    },
    methods: {
      userSearch (search) {
        return this.userTypeObject.filter(user => {
          var fullName = this.userFullName(user)
          if (fullName.toLowerCase().indexOf(search.toLowerCase()) >= 0) {
            return true
          } else {
            return false
          }
        })
      // TODO: Sort By Day Of Week
      },
      dayWithId (id) {
        var customerTemplate = this.templates.filter(c => c.customer_id === id)
        if (typeof customerTemplate !== 'undefined') {
          var smallest = []
          for (var i in customerTemplate) {
            var day = customerTemplate[i].day
            if (day === 0) {
              smallest.push(7)
            } else {
              smallest.push(day)
            }
          }
          var smallestDay = Math.min(...smallest)
          return smallestDay
        } else {
          return 8
        }
      },
      userHasTemplate (customer, day) {
        var template = this.templates.filter(template => Number(template.customer_id) === Number(customer))

        var days = []
        for (var cust in template) {
          days.push(template[cust].day)
        }
        if (days.indexOf(day) >= 0) {
          return 'has-job'
        } else {
          return ''
        }
      },
      userFullName (user) {
        var fullName = user.first_name + ' ' + user.last_name
        return fullName
      },
      userLink (userId) {
        if (this.userType === 'customer') {
          this.$router.push({ name: 'Customer', params: { id: userId } })
        } else {
          this.$router.push({ name: 'Guru', params: { id: userId } })
        }
      },
      newUser () {
        if (this.userType === 'customer') {
          this.$router.push({ path: '/customer/new' })
        } else {
          this.$router.push({ path: '/guru/new' })
        }
      }
    },
    mounted () {
      this.$store.dispatch('getUsers')
      this.$store.dispatch('getTemplates')
    }
  }
</script>

<style lang="scss" scoped>

  @import "../../scss/custom";
  @import "~bootstrap/scss/bootstrap";

    .search{
      @extend .d-flex, .justify-content-center;
    }

    .search__input{
      @extend .mb-4, .mt-4, .mx-auto;
      width: calc(100% - 3rem);
      max-width: calc(600px - 3rem);
      padding: $input-btn-padding-y $input-btn-padding-x;
      border-radius: 3px;
      outline: none;
      border: none;
    }

    .new{
      @extend .d-flex, .justify-content-center;
    }

    .button-new{
      img{
        transition: all 0.3s ease;
        height: 30px;
        @extend .mr-3;
      }
      @extend .px-4, .mx-4, .mt-3, .d-flex, .align-items-center, .justify-content-center;
      color: $white;
      padding-top: .75rem;
      padding-bottom: .75rem;
      font-size: 1.2rem;
      width: calc(100% - 3rem);
      max-width: calc(400px - 3rem);
      border: 2px solid $white;
      border-radius: 2px;
      &:hover{
        cursor: pointer;
        img{
          transform: translateX(-3px);
        }
      }
    }


    .customers{
      @extend .my-5;

    }

    .customers--wrapper{
      @extend .px-4, .mx-auto;
      max-width: 600px;
    }

    .customers__heading{
      font-size: 1.6rem;
      @extend .mb-5;
    }

    .customers__list{
    }

    .customers__list__job{
      @extend .py-4, .px-4, .mb-4, .d-flex, .align-items-center;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
      font-size: 1.4rem;
    }
    .customers__list__job__icon{
      @extend .ml-auto;
      width: 30px;
    }

    .link-hover{
      &:hover{
        cursor: pointer
      }
    }

    .service__prev{
      @extend .d-flex, .flex-wrap;
      span{
        width: 30px;
        height: 30px;
        @extend .mr-2,  .mt-2, .d-flex, .align-items-center, .justify-content-center;
        border: 1px solid $purple;
        border-radius: 50%;
        font-size: 0.8rem;
        &.has-job{
          background-color: $purple;
          color: $white;
        }
      }
    }

</style>
