<template>

    <!-- TODO: Pass user type to calendar to render appropriate header -->
  <div>
    <div class="header--gradient">
      <div class="header__wrapper">
        <navigation :title="userFullName(user)"></navigation>
      </div>
    </div>

    <div class="edit-form">

      <div v-if="userType != 'service'"  class="edit-form__section">
        <p class="link-hover--back" @click="backToUsers()">
          <img src="./assets/back.png" alt="">
          Back to all {{ userType == 'customer' ? 'Customers' : 'Gurus' }}
        </p>

        <div class="edit-form__heading">
          <h3 class="mb-0">{{ userType == 'customer' ? 'Customer' : 'Guru' }} Details</h3>
          <div @click="editLink" class="edit-form__heading__edit">
            <img src="./assets/edit.png" alt="">
            Edit Details
          </div>
        </div>

        <p v-if="user.phone && userType == 'customer' && userType != 'service'" class="edit-form__detail--icon">
          <img src="./assets/phone.png" alt="">
          <a :href="'tel:' + user.phone">{{ user.phone }}</a>
        </p>
        <p v-if="user.end_date" class="edit-form__detail"> {{user.first_name}}'s servicing ends on <span class="edit-form__detail--bold">{{ customerEndDate() | moment("dddd Do MMMM") }}</span> </p>

        <div v-if="userType =='guru'" class="edit-form__detail--profile edit-form__avatar">
          <img v-if="!user.avatar_uid" class="avatar unselected" src="./assets/preview.png" alt="">
          <img v-if="user.avatar_uid" class="avatar" :src="user.avatar_small" alt="">
          <a class="edit-form__detail__email" :href="'mailto:' + user.email" v-if="user.email">
            <img src="./assets/email.png" alt="">
            {{user.email}}
          </a>
        </div>
        <!-- TODO: test and moment JS this date -->
      </div>

      <div  v-if="userType != 'service'" class="edit-form__section">
        <p class="link-hover--back" v-if="!showPast && userType =='customer'" @click="togglePast"><img src="./assets/back.png" alt="">See Past Visits</p>
        <p class="link-hover--back" v-if="showPast && userType =='customer'" @click="togglePast"><img src="./assets/back.png" alt="">See Upcoming Visits</p>

        <div class="edit-form__heading">
          <h3 v-if="!showPast">{{ user.first_name }}'s Upcoming {{ userType == 'customer' ? 'Visits' : 'Services' }}</h3>
          <h3 v-if="showPast">Past Visits</h3>
        </div>

        <p v-if="!showPast && upcomingJobs.length == 0">{{ user.first_name }} has no upcoming {{ userType == 'customer' ? 'Visits' : 'Services' }}</p>
        <p v-if="showPast && previousJobs.length == 0">{{ user.first_name }} has had no previous {{ userType == 'customer' ? 'Visits' : 'Services' }}</p>

        <router-link v-if="!showPast" class="link jobs__list__job" v-for="job, index in upcomingJobs.slice(0,3)" :key="job.id" :to="{ name: 'Job', params: { id: job.id }}">
          <div>
            <p v-if="userType =='guru'" class=" mb-0">{{ userFullName(job.customer) }}</p>
            <p class="jobs__list__job__date">{{ dateObject(job.date) | moment("dddd Do MMM") }}</p>
          </div>
          <img class="jobs__list__job__icon" src="./assets/jobs-inspect.png" alt="">
        </router-link>

        <router-link v-if="showPast" class="link jobs__list__job" :key="job.id" v-for="job, index in previousJobs.slice(0,3)" :to="{ name: 'Job', params: { id: job.id }}">
          {{ dateObject(job.date) | moment("dddd Do MMM") }}
          <img class="jobs__list__job__icon" src="./assets/jobs-inspect.png" alt="">
        </router-link>

      </div>

      <div v-if="userType != 'guru'" class="edit-form__section">

        <div class="edit-form__heading">
          <h3>Service Schedule</h3>
        </div>

        <div class="day-radio mb-4 pb-1">
          <input v-model="currentDay" value="1" type="radio" id="monday" name="day-select" :class="{ 'no-jobs' : customerDays(1) }">
          <label for="monday">
            <p>M</p>
          </label>
          <input v-model="currentDay" value="2" type="radio" id="tuesday" name="day-select" :class="{ 'no-jobs' : customerDays(2) }">
          <label for="tuesday">
            <p>T</p>
          </label>
          <input v-model="currentDay" value="3" type="radio" id="wednesday" name="day-select" :class="{ 'no-jobs' : customerDays(3) }">
          <label for="wednesday">
            <p>W</p>
          </label>
          <input v-model="currentDay" value="4" type="radio" id="thursday" name="day-select" :class="{ 'no-jobs' : customerDays(4) }">
          <label for="thursday">
            <p>T</p>
          </label>
          <input v-model="currentDay" value="5" type="radio" id="friday" name="day-select" :class="{ 'no-jobs' : customerDays(5) }">
          <label for="friday">
            <p>F</p>
          </label>
          <input v-model="currentDay" value="6" type="radio" id="saturday" name="day-select" :class="{ 'no-jobs' : customerDays(6) }">
          <label for="saturday">
            <p>S</p>
          </label>
          <input v-model="currentDay" value="0" type="radio" id="sunday" name="day-select" :class="{ 'no-jobs' : customerDays(0) }">
          <label for="sunday">
            <p>S</p>
          </label>
        </div>

        <tasks class="mb-4" v-if="customerTemplate != false" :job="customerTemplate" :user="user" parent_type="Template"></tasks>
        <p v-if="!customerTemplate">You have no templates for this day.</p>
        <p v-if="!customerTemplate" @click="newTemplate" class="link">Create a template </p>
      </div>

      <div  v-if="userType != 'service'"  class="edit-form__section--final">
        <p class="edit-form__text">Would you like to archive {{ userFullName(user) }}</p>
        <button @click="archive" class="edit-form__button">Archive {{ user.first_name }}</button>
      </div>



    </div>
  </div>

</template>

<script>
  import Tasks from '../tasks/Tasks'
  import Navigation from '../navigation/Navigation'
  import draggable from 'vuedraggable'
  import { mapGetters } from 'vuex'

  export default {
    name: 'customer',
    data () {
      return {
        selectedDate: '',
        showPast: false,
        searchString: '',
        currentDay: '1'
      }
    },
    props: ['userType'],
    components: {
      'navigation': Navigation,
      'tasks': Tasks,
      draggable
    },
    computed: {
      ...mapGetters([
        'customers',
        'gurus',
        'templates',
        'jobs',
        'jobsPast',
        'currentUser'
      ]),
      id () {
        if (this.$route.params.id) {
          return this.$route.params.id
        } else {
          return this.currentUser.id
        }
      },
      userTypeObject () {
        if (this.userType === 'customer') {
          return this.customers
        } else {
          return this.gurus
        }
      },
      user () {
        if (this.userTypeObject) {
          var user = this.userTypeObject.find(user => Number(user.id) === Number(this.id))
          return user
        } else {
          return false
        }
      },
      customerTemplates () {
        var template = this.templates.filter(template => Number(template.customer_id) === Number(this.id))
        return template
      },
      customerTemplate () {
        var customer = this.customerTemplates.find(template => Number(template.day) === Number(this.currentDay))
        if (customer) {
          return customer
        } else {
          return false
        }
      },
      upcomingJobs () {
        var upcoming = this.jobs.filter(job => {
          if (this.userType === 'customer') {
            if (Number(job.customer_id) === Number(this.id)) {
              return true
            } else {
              return false
            }
          } else {
            if (Number(job.guru_id) === Number(this.id)) {
              return true
            } else {
              return false
            }
          }
        })
        return upcoming.sort((a, b) => {
          a = new Date(a.date)
          b = new Date(b.date)
          return a - b
        })
      },
      previousJobs () {
        var upcoming = this.jobsPast.filter((job, index) => {
          if (Number(job.customer_id) === Number(this.id)) {
            return true
          } else {
            return false
          }
        })
        return upcoming
      }
    },
    methods: {
      editLink () {
        if (this.userType === 'customer') {
          this.$router.push({name: 'Edit Customer', params: {id: this.id}})
        } else {
          this.$router.push({name: 'Edit Guru', params: {id: this.id}})
        }
      },
      backToUsers () {
        if (this.userType === 'customer') {
          this.$router.push({name: 'Customers'})
        } else {
          this.$router.push({name: 'Gurus'})
        }
      },
      newTemplate () {
        var templateData = {
          template: {
            day: Number(this.currentDay),
            customer_id: this.id
          }
        }
        this.$store.dispatch('newTemplate', templateData)
      },
      togglePast () {
        this.showPast = !this.showPast
      },
      userFullName (user) {
        if (user) {
          var fullName = user.first_name + ' ' + user.last_name
          return fullName
        } else {
          return this.currentUser.first_name + ' ' + this.currentUser.last_name
        }
      },
      dayOfWeek (day) {
        var days = ['S', 'M', 'T', 'W', 'T', 'F', 'S']
        return days[day]
      },
      archive () {
        var userData = {
          id: this.id,
          data: {
            user: {
              is_archived: true
            }
          }
        }
        this.$store.dispatch('editUsers', userData)
      },
      customerEndDate () {
        return new Date(this.user.end_date)
      },
      dateObject (string) {
        var date = new Date(string)
        return date
      },
      customerDays (day) {
        var days = []
        for (var cust in this.customerTemplates) {
          days.push(this.customerTemplates[cust].day)
        }
        if (days.indexOf(day) >= 0) {
          return false
        } else {
          return true
        }
      }
    },
    updated () {
    },
    mounted () {
      this.$store.dispatch('getUsers')
      this.$store.dispatch('getTemplates')
    }
  }
</script>
