<template>

    <!-- TODO: Pass user type to calendar to render appropriate header -->
  <div>
    <div class="header--gradient">
      <div class="header__wrapper">
        <navigation v-if="!newUser" :title="userFullName()"></navigation>
        <navigation v-if="newUser" :title="userType == 'customer' ? 'New Customer' : 'New Guru'"></navigation>
      </div>
    </div>

    <div class="edit-form">

      <div class="edit-form__section">

        <p class="link-hover--back" @click="backToUsers()">
          <img src="./assets/back.png" alt="">
          Back to all {{ userType == 'customer' ? 'Customers' : 'Gurus' }}
        </p>

        <div class="edit-form__heading">
          <h3>{{ userType == 'customer' ? 'Customer' : 'Guru' }} Details</h3>
        </div>

        <div class="edit-form__avatar" v-if="userType == 'guru'">
          <input id="formAvatar" type="file" @change="processFile($event)">
          <label for="formAvatar" class="d-flex align-items-center">
            <img class="edit-form__avatar__spinner" v-if="uploading" src="./assets/spinner.svg" alt="">
            <img class="avatar unselected" :class="{ 'dim' : uploading }" src="./assets/preview.png" id="avatarPrev" alt="">
            <span></span>
            Upload a Profile Photo
            <br>Click to select a photo
          </label>
        </div>

        <div>
          <span class="has-float-label mb-4">
            <input v-model="firstName" class="form-control has-float-label__box" id="f-name" type="text" placeholder=" " />
            <label class="" for="f-name">First Name ∗</label>
          </span>
          <span class="has-float-label mb-4">
            <input v-model="lastName" class="form-control has-float-label__box" id="l-name" type="text" placeholder=" " />
            <label class="" for="l-name">Last Name ∗</label>
          </span>
          <span class="has-float-label mb-4">
            <input v-model="emailAddress" class="form-control has-float-label__box" id="email" type="text" placeholder=" " />
            <label class="" for="email">Email Address ∗</label>
          </span>
          <span class="has-float-label">
            <input v-model="phoneNumber" class="form-control has-float-label__box" id="number" type="text" placeholder=" " />
            <label class="" for="number">Phone Number (Use +64 extension) ∗</label>
          </span>
        </div>

      </div>

      <div v-if="userType == 'customer'" class="edit-form__section">
        <div class="edit-form__heading">
          <h3>Service Dates</h3>
        </div>
        <label>Start Date</label>
        <datepicker class="mb-4" v-model="startDate" placeholder="Service commencement date ∗" input-class="form-control no-border"></datepicker>
        <label>End Date</label>
        <datepicker class="mb-2" v-model="endDate" placeholder="Service end date" input-class="form-control no-border"></datepicker>
        <p v-if="endDate != ''" @click="endDate = ''" class="link mb-4">Clear end date</p>

      </div>

      <div class="edit-form__section--final">
        <p v-if="message" class="form-error mb-3">{{message}}</p>
        <button v-if="!newUser" @click="update" class="edit-form__button"  :disabled="uploading">
          <span v-if="!pending && !uploading">Update {{ firstName }}</span>
          <span v-if="pending || uploading">
            <img src="./assets/spinner.svg" class="auth-form__button__spinner" alt="">
            <span class="ml-3" v-if="uploading">Uploading Image</span>
          </span>
        </button>
        <button v-if="newUser" @click="createUser" class="edit-form__button" :disabled="uploading">
          <span v-if="!pending && !uploading">
            Create {{ firstName === '' ? (userType == 'customer' ? 'Customer' : 'Guru' ) : firstName }}
          </span>
          <span v-if="pending || uploading">
            <img src="./assets/spinner.svg" class="auth-form__button__spinner" alt="">
            <span class="ml-3" v-if="uploading">Uploading Image</span>
          </span>
        </button>
      </div>

    </div>
  </div>

</template>

<script>
  import Dashboard from '../dashboard/Dashboard'
  import Navigation from '../navigation/Navigation'
  import { mapGetters } from 'vuex'
  import Datepicker from 'vuejs-datepicker'

  export default {
    name: 'customer',
    data () {
      return {
        userImage: '',
        firstName: '',
        lastName: '',
        emailAddress: '',
        endDate: '',
        startDate: '',
        phoneNumber: '',
        message: ''
      }
    },
    props: ['userType', 'newUser'],
    components: {
      'dashboard': Dashboard,
      'navigation': Navigation,
      Datepicker
    },
    computed: {
      ...mapGetters([
        'customers',
        'gurus',
        'pending',
        'uploading'
      ]),
      id () {
        return this.$route.params.id
      },
      user () {
        var user = []
        if (this.userType === 'customer') {
          user = this.customers.find(user => Number(user.id) === Number(this.id))
        } else {
          user = this.gurus.find(user => Number(user.id) === Number(this.id))
        }
        return user
      }
    },
    methods: {
      userFullName () {
        var fullName = this.firstName + ' ' + this.lastName
        return fullName
      },
      dayOfWeek (day) {
        var days = ['S', 'M', 'T', 'W', 'T', 'F', 'S']
        return days[day]
      },
      customerEndDate () {
        console.log(this.user.end_date)
        return 'shit'
      },
      dateObject (string) {
        var date = new Date(string)
        return date
      },
      processFile (event) {
        var self = this
        var file = event.target.files[0]
        var imageString = ''
        var preview = document.getElementById('avatarPrev')
        var reader = new FileReader()
        reader.addEventListener('load', function () {
          preview.src = reader.result
          preview.classList.remove('unselected')
          imageString = reader.result
          self.$store.dispatch('uploadUserPhoto', { id: self.id, data: { user: { avatar: imageString } } })
        }, false)
        if (file) {
          reader.readAsDataURL(file)
        }

        // this.userImage = data
      },
      customerDays (day) {
        var days = []
        for (var cust in this.customerTemplates) {
          days.push(this.customerTemplates[cust].day)
        }
        if (days.indexOf(day) >= 0) {
          return false
        } else {
          return true
        }
      },
      update () {
        var run = true
        var userData = {
          data: {
            user: {}
          },
          id: {}
        }
        userData['id'] = this.id
        if (this.firstName) {
          userData['data']['user']['first_name'] = this.firstName
        } else {
          run = false
        }
        if (this.lastName) {
          userData['data']['user']['last_name'] = this.lastName
        } else {
          run = false
        }
        if (this.emailAddress) {
          userData['data']['user']['email'] = this.emailAddress.toLowerCase().replace(/\s/g, '')
        } else {
          run = false
        }
        if (this.phoneNumber) {
          userData['data']['user']['phone'] = this.phoneNumber.replace(/\s/g, '')
        } else {
          run = false
        }
        if (this.startDate) {
          userData['data']['user']['start_date'] = this.startDate
        } else {
          if (this.userType !== 'guru') {
            run = false
          }
        }
        userData['data']['user']['end_date'] = this.endDate
        if (this.userType) {
          userData['data']['user']['role'] = this.userType
        }

        if (run) {
          this.$store.dispatch('editUsers', userData)
        } else {
          this.message = 'Please check you have submitted all of the required fields'
        }
      },
      createUser () {
        var run = true
        var userData = {
          data: {
            user: {}
          }
        }
        if (this.firstName) {
          userData['data']['user']['first_name'] = this.firstName
        } else {
          run = false
        }
        if (this.lastName) {
          userData['data']['user']['last_name'] = this.lastName
        } else {
          run = false
        }
        if (this.emailAddress) {
          userData['data']['user']['email'] = this.emailAddress.toLowerCase().replace(/\s/g, '')
        } else {
          run = false
        }
        if (this.phoneNumber) {
          userData['data']['user']['phone'] = this.phoneNumber.replace(/\s/g, '')
        } else {
          run = false
        }
        if (this.startDate) {
          userData['data']['user']['start_date'] = this.startDate
        } else {
          if (this.userType !== 'guru') {
            run = false
          }
        }
        if (this.endDate) {
          userData['data']['user']['end_date'] = this.endDate
        }
        if (this.userImage) {
          userData['data']['user']['avatar'] = this.userImage
        }
        if (this.userType) {
          userData['data']['user']['role'] = this.userType
        }
        userData['data']['user']['password_digest'] = 'random'
        userData['data']['user']['is_archived'] = false
        if (run) {
          this.$store.dispatch('createUser', userData)
        } else {
          this.message = 'Please check you have submitted all of the required fields'
        }
      },
      backToUsers () {
        if (this.userType === 'customer') {
          this.$router.push({name: 'Customers'})
        } else {
          this.$router.push({name: 'Gurus'})
        }
      }
    },
    updated () {
    },
    mounted () {
      this.$store.commit('LOGIN_ERROR', {state: false, reason: ''})
      this.$store.commit('NOT_PENDING')
      if (!this.newUser) {
        this.$store.dispatch('getUsers')
        this.$store.dispatch('getTemplates')
        this.firstName = this.user.first_name
        this.lastName = this.user.last_name
        this.emailAddress = this.user.email
        this.startDate = this.user.start_date
        this.endDate = this.user.end_date
        this.phoneNumber = this.user.phone
      }
    }
  }
</script>
