<template>
  <div>
    <div v-if="parent_type == 'Template' && currentRole == 'admin'" class="row">
      <div  class="col-sm-6">
        <v-select :key="job.id" :v-model="selected"  :placeholder="guruName(job.guru_id)" class="mb-4" :on-change="updateTemplateGuru" :options="allGurus"></v-select>
      </div>
      <div class="col-sm-6 mb-4 mb-sm-0">
        <div class="d-flex">
          <button class="auth-form__button font-small mr-2" @click="jobify(job.id)">
            Create Visits
          </button>
          <button class="auth-form__button font-small" @click="deleteTemplate(job.id)">
            Delete Template
          </button>
        </div>
      </div>
      <div class="col-12 mb-4">
        <strong>Please Note:</strong> Create Visits will take a few minutes to update tasks. Press the button and continue to use the app, you should see the visits when they are available.
      </div>
    </div>

    <div class="dashboard">
      <div class="dashboard__tabs">
        <div class="row no-gutters">
          <div class="col">
            <div @click="category = 1" class="dashboard__tabs__tab first" v-bind:class="{ active: category == 1}">
              <img class="dashboard__tabs__tab__icon" src="./assets/dash-task.png" alt="">
              <p>Tasks</p>
            </div>
          </div>
          <div class="col">
            <div @click="category = 2" class="dashboard__tabs__tab" v-bind:class="{ active: category == 2}">
              <img class="dashboard__tabs__tab__icon" src="./assets/dash-delivery.png" alt="">
              <p>Delivery</p>
            </div>
          </div>
          <div class="col">
            <div @click="category = 3" class="dashboard__tabs__tab" v-bind:class="{ active: category == 3}">
              <img class="dashboard__tabs__tab__icon" src="./assets/dash-add.png" alt="">
              <p>Add-Ons</p>
            </div>
          </div>
        </div>
      </div>

      <draggable @end="movefunc" :options="{'disabled':false, handle:'.handle'}">

        <div id="taskList" v-for="task in tasks(category)" v-bind:key="task.id" :data-task-id="task.id" :data-job-id="job.id">

            <div class="dashboard__tasks__task" v-bind:class="{ complete: isComplete[task.id] = task.is_complete }">
              <span class="dashboard__tasks__task__check" :class="{'no-pointer' : isPast(job.date) }" @click="updateCheck(task.id, job.id, 'is_complete')">
                <img class="dashboard__tasks__task__check__icon" src="./assets/task-checked.png" alt="">
              </span>

              <input v-if="category != 3" :value="task.name" :disabled="isPast(job.date)" placeholder="Type your task here" class="dashboard__tasks__task__name" @change="updateTask(task.id, job.id, 'name', $event.target.value)">
              <div class="add-on__select" :class="{'no-pointer' : isPast(job.date) }" v-if="category == 3" >
                <v-select :placeholder="addOn(task.name) ? addOn(task.name) : 'Select an Add On' " :on-change="updateAddOn.bind(this, job.id, task.id)" :options="allAddOns()"></v-select>
              </div>

              <div class="dashboard__tasks__task__actions" :class="{'no-pointer' : isPast(job.date) }">
                <img class="dashboard__tasks__task__actions__icon handle" src="./assets/handle.png" alt="">
                <img v-if="hasNotes(task.notes)" class="dashboard__tasks__task__actions__icon" v-on:click="showNotes(task.id)" src="./assets/task-note-new.png" alt="">
                <img v-if="!hasNotes(task.notes)" class="dashboard__tasks__task__actions__icon" v-on:click="showNotes(task.id)" src="./assets/task-note.png" alt="">
                <img v-if="parent_type == 'Template'" class="dashboard__tasks__task__actions__icon" v-on:click="showCycle(task.id)" src="./assets/task-cycle.png" alt="">
                <img class="dashboard__tasks__task__actions__icon" v-on:click="deleteTask(task.id)" src="./assets/task-cancel.png" alt="">
              </div>
              <transition name="slide" mode="out-in">
                <div v-show="showDelete[task.id]" class="dashboard__tasks__task__cancel">
                  <p>Remove this task?</p>
                  <div class="dashboard__tasks__task__cancel__confirm">
                    <img class="dashboard__tasks__task__actions__icon" v-on:click="removeTask(task.id, job.id)" src="./assets/task-confirm.png" alt="">
                    <img class="dashboard__tasks__task__actions__icon" v-on:click="deleteTask(task.id)" src="./assets/task-cancel.png" alt="">
                  </div>
                </div>
              </transition>
            </div>
            <transition name="slide" mode="out-in">
              <div v-show="notes[task.id] || (isPast(job.date) && hasNotes(task.notes))"  class="dashboard__tasks__task__notes">
                <textarea placceholder="Additional Notes" :disabled="isPast(job.date)" v-model="task.notes" @change="updateTask(task.id, job.id, 'notes', $event.target.value)"></textarea>
              </div>
            </transition>
            <transition name="slide" mode="out-in">
              <div v-show="cycle[task.id]" class="dashboard__tasks__task__cycle">
                <div class="dashboard__tasks__task__cycle__radio">
                  <!-- <input class="dashboard__tasks__task__cycle__radio__option" v-bind:id="'js-once-' + task.id" type="radio" v-bind:name="'cycle-' + task.id" value="0" v-model="task.cycle" @change="updateTask(task.id, job.id, 'cycle', $event.target.value)">
                  <label v-bind:for="'js-once-' + task.id">One-Off</label> -->

                  <input class="dashboard__tasks__task__cycle__radio__option" v-bind:id="'js-weekly-' + task.id" type="radio" v-bind:name="'cycle-' + task.id" value="1" v-model="task.cycle" @change="updateTask(task.id, job.id, 'cycle', $event.target.value)">
                  <label v-bind:for="'js-weekly-' + task.id">Weekly</label>

                  <input class="dashboard__tasks__task__cycle__radio__option" v-bind:id="'js-fortnightly-' + task.id" type="radio" v-bind:name="'cycle-' + task.id" value="2" v-model="task.cycle" @change="updateTask(task.id, job.id, 'cycle', $event.target.value)">
                  <label v-bind:for="'js-fortnightly-' + task.id">Fortnightly</label>
                </div>

              </div>
            </transition>

          </div>
        </draggable>

      <div v-if="category == 1 && !isPast(job.date)" class="dashboard__tasks__task--create" @click="newTask(job.id, 1)">
        <img class="dashboard__tasks__task--create__icon" src="./assets/task-create.png" alt="">
        <p class="dashboard__tasks__task--create__name">Create New Task</p>
      </div>
      <div v-if="category == 2 && !isPast(job.date)" class="dashboard__tasks__task--create" @click="newTask(job.id, 2)">
        <img class="dashboard__tasks__task--create__icon" src="./assets/task-create.png" alt="">
        <p class="dashboard__tasks__task--create__name">New Delivery</p>
      </div>
      <div v-if="category == 3 && !isPast(job.date)" class="dashboard__tasks__task--create" @click="newTask(job.id, 3)">
        <img class="dashboard__tasks__task--create__icon" src="./assets/task-create.png" alt="">
        <p class="dashboard__tasks__task--create__name">New Add On</p>
      </div>

    </div>

    <div class="jobs-list">

    </div>



  </div>

</template>

<script>
  import draggable from 'vuedraggable'
  import { Carousel, Slide } from 'vue-carousel'
  import 'sortablejs'
  import Sortable from 'vue-sortable'
  import { mapGetters } from 'vuex'
  import vSelect from 'vue-select'

  export default {
    name: 'job',
    data () {
      return {
        notes: {},
        cycle: {},
        showDelete: {},
        isComplete: {},
        category: 1,
        selectedDate: '',
        value: [],
        allGurus: [],
        selected: null
      }
    },
    props: {
      user: {
        required: true
      },
      job: {
        required: true
      },
      parent_type: {
        required: true
      }
    },
    components: {
      vSelect,
      draggable,
      Carousel,
      Slide,
      Sortable
    },
    computed: {
      ...mapGetters([
        'addons',
        'jobs',
        'gurus',
        'allJobs',
        'templates'
      ]),
      id () {
        return this.job.id
      },
      role () {
        return this.user.role
      },
      currentRole () {
        return this.$store.state.currentUser.role
      }
    },
    mounted () {
      this.$store.dispatch('getAddOns')
      this.$store.dispatch('getUsers')
      for (var guru in this.gurus) {
        var guruName = this.gurus[guru].first_name + ' ' + this.gurus[guru].last_name
        var guruId = this.gurus[guru].id
        this.allGurus.push({label: guruName, value: guruId})
      }
    },
    updated () {
      // console.log('updated')
      this.selected = null
    },
    methods: {
      jobify (id) {
        this.$store.dispatch('rejobifyTemplates', { id: id })
      },
      hasNotes (notes) {
        console.log('notes')
        console.log(notes)
        if (notes === null) {
          return false
        } else if (notes.length >= 1) {
          return true
        } else {
          return false
        }
      },
      deleteTemplate (id) {
        var self = this
        this.$dialog.confirm('<div class="text-center confirm-box"><p>Are you sure you want to delete this template?</p><p class="error">This cannot be undone</p></div>', {
          html: true,
          okText: 'Delete',
          cancelText: 'Nope',
          animation: 'fade'
        })
          .then(function () {
            self.$store.dispatch('deleteTemplates', { id: id })
          })
          .catch(function () {
            console.log('Cancelled')
          })
      },
      isPast (date) {
        var taskDate = new Date(date)
        taskDate.setHours(0, 0, 0, 0)
        var now = new Date()
        now.setHours(0, 0, 0, 0)

        if (taskDate < now) {
          return true
        } else {
          return false
        }
      },
      customerFullName (job) {
        return job.first_name + ' ' + job.last_name
      },
      updateAddOn (job, task, value) {
        this.updateTask(task, job, 'name', value.label)
      },
      guruName (id) {
        var guru = this.gurus.find(g => g.id === id)
        if (guru) {
          return guru.first_name + ' ' + guru.last_name
        } else {
          return 'Select a guru for this template'
        }
      },
      allAddOns () {
        var addons = []
        for (var addon in this.$store.state.addOns) {
          var addOnName = this.$store.state.addOns[addon].name + ' - ' + this.$store.state.addOns[addon].price
          var addonId = this.$store.state.addOns[addon].id
          addons.push({label: addOnName, value: addonId})
        }
        return addons
      },
      updateTask (taskId, jobId, prop, val) {
        var taskChange = {}
        taskChange[prop] = val
        this.$store.dispatch('updateTask', { 'data': taskChange, 'parent_type': this.parent_type, 'id': taskId, 'jobId': jobId })
      },
      tasks (category) {
        if (this.parent_type === 'Template') {
          return this.templates.find(t => t.id === this.job.id).ordered_tasks.filter(task => task.category === category).slice(0).sort((a, b) => {
            return a.position - b.position
          })
        } else {
          return this.allJobs.find(j => j.id === this.job.id).ordered_tasks.filter(task => task.category === category).slice(0).sort((a, b) => {
            return a.position - b.position
          })
        }
      },
      updateCheck (taskId, jobId, name) {
        this.$set(this.isComplete, taskId, !this.isComplete[taskId])
        this.updateTask(taskId, jobId, name, this.isComplete[taskId])
      },
      newTask (jobId, cat) {
        var taskData = {}
        if (this.parent_type === 'Job') {
          taskData = {
            'parent_id': jobId,
            'category': cat,
            'cycle': 0,
            'parent_type': this.parent_type
          }
        } else {
          taskData = {
            'parent_id': jobId,
            'category': cat,
            'cycle': 1,
            'parent_type': this.parent_type
          }
        }
        this.$store.dispatch('newTask', {
          task: taskData
        })
      },
      updateTemplateGuru (evt) {
        // console.log(evt.value)
        // console.log(this.selected)
        var templateData = {
          templateId: this.id,
          data: {
            template: {
              guru_id: evt.value
            }
          }
        }
        this.$store.dispatch('updateTemplate', templateData)
      },
      movefunc (evt) {
        this.$store.dispatch('setTaskPosition', { 'data': evt.srcElement.children, 'parent_type': this.parent_type })
      },
      removeTask (taskId, jobId) {
        this.$store.dispatch('deleteTask', { 'id': taskId, 'parentId': jobId, 'parent_type': this.parent_type })
      },
      changeTest (e, ui) {
      },
      addOn (string) {
        if (string) {
          try {
            JSON.parse(string)
          } catch (e) {
            return string
          }
          var parsed = JSON.parse(string)[0] + ' ' + JSON.parse(string)[1]
          return parsed
        } else {
          return ''
        }
      },
      showNotes (task) {
        this.cycle = {}
        this.$set(this.notes, task, !this.notes[task])
      },
      showCycle (task) {
        this.notes = {}
        this.$set(this.cycle, task, !this.cycle[task])
      },
      deleteTask (id) {
        this.$set(this.showDelete, id, !this.showDelete[id])
      }
    }
  }
</script>

<style lang="scss" >

@import "../../scss/custom";
@import "../../scss/styleguide";
@import "~bootstrap/scss/bootstrap";

  .confirm-box{
    @extend .p-2;
    font-family: $font-family-sans-serif;
    font-weight: 300;
    font-size: 1.25rem;

  }

  .dg-btn{
    border-radius: 2px!important;
    color: $white!important;
    font-size: 1.25rem!important;
    font-family: $font-family-sans-serif!important;
    font-weight: 300!important;
    border: 1px solid $white!important;
    padding-top: $input-btn-padding-y!important;
    padding-bottom: $input-btn-padding-y!important;
    background: $linear-background!important;
    background-size: 1px 200px!important;
    position: relative!important;
    transition: $transition-base!important;

    &:hover {
      cursor: pointer!important;
      background-position: 100px!important;
    }

    &.dg-btn--cancel{
      border: 1px solid $purple!important;
      transition: background 0.3s ease!important;
    }

    &.dg-btn--cancel:not(:hover){
      border: 1px solid $purple!important;
      background: $white!important;
      color: $purple!important;
    }
  }

  .error{
    color: $red;
  }

  .dashboard{
    max-width: 600px;
    @extend .mx-auto;
  }

  .dashboard__tasks__task--create{
    @extend .dashboard__tasks__task;
  }

  .dashboard__tasks__task--create__icon{
    @extend .mr-2;
    width: 30px;
  }

  .dashboard__tasks__task--create__name{
    font-size: 1.3rem;
    color: $purple;
    @extend .mb-0;
    &:hover{
      cursor: pointer;
    }
  }

  .v-select .selected-tag{
    position: absolute;
  }

  .dropdown.v-select{
    .form-control::placeholder{
      color: $purple;
      font-weight: 300;
    }
    .form-control{
      width: 90%;

    }
  }

  .handle{
    &:hover{
      cursor: move;
    }
  }

  .v-select{
    .dropdown-toggle{
      min-height: 42px!important;
      border-radius: 0!important;
      padding-top: 4px!important;
      padding-bottom: 4px!important;
      background-color: $white!important;
      border: 1px solid rgba(0,0,0,0.08)!important;
      .clear{
        display: none!important;
      }
      input{
        &:hover{
          cursor: pointer!important;
        }
        position: absolute!important;
        top: 0!important;
        left: 0!important;
        width: 80%!important;
        height: 100%!important;
      }
    }
    .open-indicator{
      bottom: calc(50% - 13px)!important;
    }
    .selected-tag{
      position: static!important;
      left: 0!important;
      min-height: 26px!important;
      height: auto!important;
    }
    .dropdown-menu{
      border: 1px solid rgba(0,0,0,0.08)!important;
      border-radius: 0!important;
      li a{
        @extend .py-3;
      }
      li.highlight a,
      li:hover a{
        color: $white!important;
        background-color: $purple!important;
      }
    }
  }

  .font-small{
    font-size: 1rem;
  }

  .add-on__select{
    width: 60%;
  }

  .no-pointer{
    pointer-events: none;
    opacity: 0.7;
  }


</style>
