<template>
  <div>
    <div class="dash-header">
      <div class="dash-header--wrapper">
        <div class="cal">
          <div class="cal-months">
            <swiper :options="monthSwiperOptions" :not-next-tick="notNextTick" ref="monthSwiper">
              <swiper-slide class="cal-months__month" v-for="month in monthsArray" :data-year="month.year" :key="month.monthIndex" :data-month="month.monthIndex">
                {{month.month}}
              </swiper-slide>
            </swiper>
          </div>

          <div class="cal-days">
            <swiper :options="daySwiperOptions" ref="daySwiper">
              <swiper-slide :data-date="day.date" class="cal-days__day" v-bind:class="noJobCheck(day.date)" :key="day.date" v-for="day in swiperDays">
                <p class="cal-days__day__day">{{day.day}}</p>
                <p class="cal-days__day__date">{{ day.date }}</p>
              </swiper-slide>
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  import { swiper, swiperSlide } from 'vue-awesome-swiper'
  import { mapGetters } from 'vuex'

  export default {
    name: 'calendar',
    props: ['min', 'max', 'customerid', 'datestart'],
    data () {
      return {
        selectedDate: '',
        notNextTick: true,
        setSlide: false,
        swiperDays: [],
        monthsArray: [],
        dateFilter: new Date(),
        monthSwiperOptions: {
          slideToClickedSlide: true,
          setWrapperSize: true,
          paginationClickable: false,
          mousewheelControl: true,
          observeParents: true,
          slidesPerView: 3,
          centeredSlides: true,
          onSlideChangeEnd: swiper => {
            var slideEndMonth = swiper.slides[swiper.activeIndex].getAttribute('data-month')
            var slideEndYear = swiper.slides[swiper.activeIndex].getAttribute('data-year')
            console.log('this.dateFilter.getDate()')
            console.log(this.dateFilter.getDate())
            console.log('this.dateFilter')
            console.log(this.dateFilter)
            console.log('antoehr')
            console.log(slideEndMonth + ' ')
            this.dateFilter.setMonth(slideEndMonth, 1)
            console.log('this.dateFilter after')
            console.log(this.dateFilter)
            this.dateFilter.setFullYear(slideEndYear)

            this.$emit('filtered', this.dateFilter)
            this.daysInMonth(this.dateFilter, true)
            this.dayChoose.update()
          },
          onInit: swiper => {
          }
        },
        daySwiperOptions: {
          setWrapperSize: true,
          paginationClickable: false,
          mousewheelControl: true,
          observeParents: true,
          slidesPerView: 7,
          centeredSlides: true,
          onSlideChangeEnd: swiper => {
            console.log('this.dateFilter.getMonth() before')
            console.log(this.dateFilter.getMonth())
            this.dateFilter.setMonth(this.dateFilter.getMonth(), swiper.slides[swiper.activeIndex].getAttribute('data-date'))
            console.log(this.dateFilter.getMonth())
            this.$emit('filtered', this.dateFilter)
            // console.log('this.dateFilter')
            // console.log(this.dateFilter)
          },
          slideToClickedSlide: true,
          onInit: swiper => {
          }
        }
      }
    },
    components: {
      swiper,
      swiperSlide
    },
    computed: {
      ...mapGetters([
        'jobs',
        'jobsPast',
        'allJobs'
      ]),
      allJobsFilter () {
        var jobs = []
        if (this.customerid) {
          jobs = this.allJobs.filter(job => job.customer_id === Number(this.customerid))
            .sort((a, b) => {
              a = new Date(a.date)
              b = new Date(b.date)
              return a - b
            })
        } else {
          jobs = this.allJobs
            .sort((a, b) => {
              a = new Date(a.date)
              b = new Date(b.date)
              return a - b
            })
        }
        return jobs
      },
      monthChoose () {
        return this.$refs.monthSwiper.swiper
      },
      dayChoose () {
        return this.$refs.daySwiper.swiper
      }
    },
    methods: {
      dateFilterRefresh () {
        if (typeof this.datestart !== 'undefined') {
          this.dateFilter = new Date(this.datestart)
        } else {
          this.dateFilter = new Date()
          // if (this.allJobs !== []) {
          //   if (typeof this.jobs[0] !== 'undefined') {
          //     return new Date(this.jobs[0].date)
          //   } else {
          //     return new Date()
          //   }
          // } else {
          //   return new Date()
          // }
        }
      },
      logout () {
        this.$store.dispatch('logout').then(() => {
          this.$router.push('/')
        })
      },
      months () {
        var minDate = new Date(this.min)
        minDate.setHours(0, 0, 0, 0)
        minDate.setDate(1)
        var maxDate = new Date(this.max)
        maxDate.setHours(0, 0, 0, 0)
        maxDate.setDate(1)

        var monthNameList = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

        while (minDate <= maxDate) {
          this.monthsArray.push({monthIndex: minDate.getMonth(), month: monthNameList[minDate.getMonth()], year: minDate.getFullYear()})
          var newDate = minDate
          newDate.setMonth(minDate.getMonth() + 1)
          minDate = newDate
        }

        console.log(this.monthsArray)

        // Find slide with current month
        for (var slide in this.monthsArray) {
          // console.log('this.monthsArray[slide].monthIndex')
          // console.log(this.monthsArray[slide].monthIndex)
          // console.log('this.dateFilter.getMonth()')
          // console.log(this.dateFilter.getMonth())
          // console.log('this.dateFilter')
          // console.log(this.dateFilter)
          // console.log('this.monthsArray[slide].year')
          // console.log(this.monthsArray[slide].year)
          // console.log('this.dateFilter.getFullYear()')
          // console.log(this.dateFilter.getFullYear())

          if (this.monthsArray[slide].monthIndex === this.dateFilter.getMonth() && this.monthsArray[slide].year === this.dateFilter.getFullYear()) {
            this.monthChoose.slideTo(slide, 300, true)
          }
        }
      },
      noJobCheck (date) {
        var dateString = this.dateFilter.getFullYear() + '-' + (('0' + (this.dateFilter.getMonth() + 1)).slice(-2)) + '-' + (('0' + date).slice(-2))
        if (!this.allJobsFilter.find(job => job.date === dateString)) {
          return 'disabled'
        } else {
          return ''
        }
      },
      daysInMonth (data, change) {
        // console.log('this.allJobsFilter')
        // console.log(this.allJobsFilter)
        this.swiperDays = []
        var year = data.getFullYear()
        var month = data.getMonth()
        var dayNameList = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
        var lastDate = new Date()

        for (var date in this.allJobsFilter) {
          var oldDate = new Date(this.allJobsFilter[date].date)
          var utc = oldDate.getTime() + (oldDate.getTimezoneOffset() * 60000)
          var loopDate = new Date(utc + (3600000 * 12))
          console.log('loopDate')
          if (loopDate.getMonth() === month && loopDate.getFullYear() === year) {
            if (loopDate.getDate() + '-' + loopDate.getMonth() !== lastDate.getDate() + '-' + lastDate.getMonth()) {
              console.log('got deep')
              var dayText = dayNameList[loopDate.getDay()]
              this.swiperDays.push({day: dayText, date: loopDate.getDate()})
            }
          }
          lastDate = loopDate
        }

        var found = false
        // Find slide with current day
        for (var day in this.swiperDays) {
          console.log('this.swiperDays[day].date')
          console.log(this.swiperDays[day].date)
          console.log(this.dateFilter.getDate())
          if (this.swiperDays[day].date === this.dateFilter.getDate()) {
            this.dayChoose.slideTo(day, 300, true)
            found = true
          }
        }

        if (change) {
          this.dayChoose.update()
        }

        if (!found) {
          this.dayChoose.slideTo(0, 300, true)
          if (typeof this.swiperDays[0] !== 'undefined') {
            this.dateFilter.setDate(this.swiperDays[0].date)
          } else {
            this.dateFilter = new Date()
          }
          this.$emit('filtered', this.dateFilter)
        }

        console.log('this swiper')
        console.log(this.swiperDays)
      }
    },
    mounted () {
      this.dateFilterRefresh()
      this.months()
      this.daysInMonth(this.dateFilter, false)

      // console.log('this.dateFilter')
      // console.log(this.dateFilter)

      this.$emit('filtered', this.dateFilter)
      // var dayIndex = this.dateFilter.getDate() - 1
      // var monthIndex = this.dateFilter.getMonth()
      // this.dayChoose.slideTo(dayIndex, 300, true)
      // this.monthChoose.slideTo(monthIndex, 300, true)
    }
  }
</script>

<style lang="scss">

  @import "../../scss/custom";
  @import "~bootstrap/scss/bootstrap";

  .dash-header{
    color: $white
  }

  .dash-header--wrapper{
    @extend .mx-auto;
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .cal-months{
    @extend .py-3;
    border-bottom: 1px solid $white-faded
  }

  .cal-days{
    @extend .py-3;
  }

  .cal-months__month,
  .cal-days__day{
    @extend .text-center;
    font-size: 1.2rem;
    font-weight: 300;
    &:hover{
      cursor: pointer;
    }
  }

  .cal-months__month{
    opacity: 0.6;
    &.swiper-slide-active{
      opacity: 1!important
    }
  }

  .cal-days__day{
    &.swiper-slide-active{
      p{
        opacity: 1!important
      }
    }
    &.disabled{
      p{
        opacity: 0.1;
      }
    }
    p{
      @extend .mb-0;
      opacity: 0.6
    }
    &.active{
      p{
        opacity: 1
      }
      p.cal-days__day__date{
        color: $purple;
        position: relative;
        &::after{
          position: absolute;
          background-color: $white;
          display: block;
          height: 30px;
          width: 30px;
          content: '';
          bottom: 0;
          left: 50%;
          border-radius: 50%;
          transform: translateX(-50%);
          z-index: -1

        }
      }
    }
  }

  .dashboard__tabs{

  }
  .dashboard__tabs__tab{
    &.first{
      border-left: 1px solid rgba(76, 75, 77, .1);
    }
    @extend .d-flex, .align-items-center, .py-2, .px-3;
    border-bottom: 1px solid rgba(76, 75, 77, .1);
    border-right: 1px solid rgba(76, 75, 77, .1);

    p{
      @extend .mb-0;
    }

    &:hover{
      cursor: pointer;
    }

    &.active{
      background-color: $purple;
      .dashboard__tabs__tab__icon{
        filter: brightness(0) invert(1);
      }
      p{
        color: $white;
      }
    }
  }

  .dashboard__tabs__tab__icon{
    @extend .img-fluid, .mr-3;
    height: 23px;
  }

  .dashboard__tasks__task{
    @extend .py-4, .px-3, .d-flex, .align-items-center;
    border-bottom: 1px solid rgba(76, 75, 77, .1);
    background-color: $white;

    &.complete{
      .dashboard__tasks__task__check{
        border-radius: 50%;
        border-color: $green;
        .dashboard__tasks__task__check__icon{
          opacity: 1;
          transform: scale(1);

        }
      }
    }
  }

  .dashboard__tasks__task__check{
    @extend .mr-3;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 2px solid $purple;
    display: block;
    position: relative;
    transition: $transition-base;
  }

  .dashboard__tasks__task__check__icon{
    position: absolute;
    opacity: 0;
    left: 5px;
    top: -3px;
    width: 30px;
    transition: $transition-base;
    transform: scale(0);
  }

  .dashboard__tasks__task__name{
    font-size: 1.3rem;
    border: none;
    margin-top: 2px;
    transition: $transition-base;
    border-bottom: 2px solid transparent;

    &:focus{
      outline: none;
      border-bottom: 2px solid $purple;
    }
  }

  .dashboard__tasks__task__actions{
    @extend .ml-auto;
  }

  .dashboard__tasks__task__actions__icon{
    @extend .ml-2;
    width: 30px;
    &:hover{
      cursor: pointer;
    }

  }

  .dashboard__tasks__task__notes{
    background: $linear-background;
    @extend .p-4;
    textarea{
      @extend .p-3, .mb-0;
      border: 1px solid $white;
      background-color: transparent;
      font-family: $font-family-base;
      color: $white;
      resize: none;
      width: 100%;
      &:focus{
        outline: none;
      }
    }
  }

  .dashboard__tasks__task__cycle__radio{
    @extend .p-4, .d-flex, .align-items-center;
    background: $linear-background;

  }

  .dashboard__tasks__task__cycle__radio__option{
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;

    &:checked{
      &+label{
        color: $white;
        background-color: $purple;
      }
    }

    &+label{
      @extend .mb-0, .py-2;
      background-color: $white;
      color: $purple;
      flex: 1;
      text-align: center;
    }
  }

  .slide-enter-active,
  .slide-leave-active {
    transition: all 0.2s;
    transform-origin: top;
    transform: scaleY(100%);
    // max-height: 230px;
  }
  .slide-enter,
  .slide-leave-to
  {
    opacity: 0;
    transform-origin: top;

    transform: scaleY(0);
    // max-height: 0px;
  }


</style>
