<template>
  <div>
    <div class="dash-header">
      <div class="dash-header--wrapper">
        <div class="cal">
          <div class="cal-months">
            <swiper :options="monthSwiperOptions" :not-next-tick="true" ref="monthSwiper">
              <swiper-slide class="cal-months__month" v-for="month in monthsArray" :data-year="month.year" :key="month.monthIndex" :data-month="month.monthIndex">
                {{month.monthName}}
              </swiper-slide>
            </swiper>
          </div>

          <div class="cal-days">
            <swiper :options="daySwiperOptions" ref="daySwiper">
              <swiper-slide :data-date="day.date" class="cal-days__day" :key="day.date" v-for="day in daysArray">
                <p class="cal-days__day__day">{{day.day}}</p>
                <p class="cal-days__day__date">{{ day.date }}</p>
              </swiper-slide>
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  import { swiper, swiperSlide } from 'vue-awesome-swiper'
  import { mapGetters } from 'vuex'

  export default {
    name: 'calendar',
    props: ['min', 'max', 'customerid', 'datestart'],
    data () {
      return {
        selectedDate: '',
        monthsArray: [],
        daysArray: [],
        // Setup the Month Slider
        monthSwiperOptions: {
          slideToClickedSlide: true,
          setWrapperSize: true,
          paginationClickable: false,
          mousewheelControl: true,
          observeParents: true,
          slidesPerView: 3,
          centeredSlides: true,
          onSlideChangeEnd: swiper => {
            // When month slide has changed, find out the month that we have selected.
            var monthIndex = swiper.slides[swiper.activeIndex].getAttribute('data-month')
            // Update the month on the filter date
            this.dateFiltered.month(monthIndex)
            // Reload the days for that month
            this.daysInMonth()
            // Find the slide with the date of the new filter
            this.findDate()
            // Emit the date changed event
            this.emit()
          }
        },
        // Setup the Day Slider
        daySwiperOptions: {
          setWrapperSize: true,
          paginationClickable: false,
          mousewheelControl: true,
          observeParents: true,
          slidesPerView: 7,
          centeredSlides: true,
          onSlideChangeEnd: swiper => {
            // When day slide has changed, find the day that we have selected
            var date = swiper.slides[swiper.activeIndex].getAttribute('data-date')
            // Update the date of month with the newly selected date
            this.dateFiltered.date(date)
            // Emit the date changed event
            this.emit()
          },
          slideToClickedSlide: true
        }
      }
    },
    components: {
      swiper,
      swiperSlide
    },
    computed: {
      ...mapGetters([
        'jobs',
        'jobsPast',
        'allJobs'
      ]),
      allJobsFilter () {
        // This will return either all the jobs sorted by date, or only one customers jobs sorted by date
        var jobs = []
        if (this.customerid) {
          jobs = this.allJobs.filter(job => job.customer_id === Number(this.customerid))
            .sort((a, b) => {
              a = new Date(a.date)
              b = new Date(b.date)
              return a - b
            })
        } else {
          jobs = this.allJobs
            .sort((a, b) => {
              a = new Date(a.date)
              b = new Date(b.date)
              return a - b
            })
        }
        return jobs
      },
      monthSwiper () {
        // Reference to the month slider
        return this.$refs.monthSwiper.swiper
      },
      daySwiper () {
        // Reference to day slider
        return this.$refs.daySwiper.swiper
      }
    },
    methods: {
      months () {
        // To get all the months between 2 dates provided
        // Init a month array
        var monthsArray = []
        // Find the start and end months and reset day of month and time.
        var minDate = this.$moment(this.min).startOf('month')
        var maxDate = this.$moment(this.max).startOf('month')

        // Loop through and push a new month object to the month array
        while (minDate.unix() <= maxDate.unix()) {
          monthsArray.push({monthIndex: minDate.month(), monthName: minDate.format('MMMM'), year: minDate.format('YYYY')})
          // Add a new month every iteration until the month is higher than the max month
          minDate.add(1, 'months')
        }
        // Update the global month array
        this.monthsArray = monthsArray
      },
      daysInMonth () {
        // To get all the days in the selected month
        // Init a days array
        var daysArray = []
        // Assign the filtered date to a new variable
        var newDate = this.dateFiltered
        // Find the year and month of the filtered date
        var year = newDate.format('YYYY')
        var month = newDate.format('MM')
        // Create a last date variable to prevent double ups form multiple jobs, set to a past date that wont interfere
        var lastDate = this.$moment().year(1970)

        // Loop through the dates of each job returned by allJobsFilter
        for (var date in this.allJobsFilter) {
          // Each iteration convert the date of the job to a moment date
          var loopDate = this.$moment(this.allJobsFilter[date].date)
          // Check for a matching month and year
          if (loopDate.format('MM') === month && loopDate.format('YYYY') === year) {
            // Make sure this date isn't already in the array by matching with the last date
            if (loopDate.format('D') + '-' + loopDate.format('YYYY') !== lastDate.format('D') + '-' + lastDate.format('YYYY')) {
              // Set the day name usinf moment js
              var dayName = loopDate.format('ddd')
              // Push date to array
              daysArray.push({day: dayName, date: loopDate.format('D')})
            }
          }
          // Set the last date to the loop date before reiterating
          lastDate = loopDate
        }
        // Update the global days array
        this.daysArray = daysArray
      },
      dateInit () {
        // On init, either set the filter date to the start date provided or to todays date if none
        if (typeof this.datestart !== 'undefined') {
          this.dateFiltered = this.$moment(this.datestart)
        } else {
          this.dateFiltered = this.$moment()
        }
      },
      findMonth () {
        // Find which month the filter is set to so we can update the slider to that position
        // Initiliza a variabe in case month is not found (Shouldnt happen)
        var found = false

        // Loop through the months array which the slider is created from
        for (var month in this.monthsArray) {
          // Find the position of the months array that the current filter date is set to
          if (this.monthsArray[month].monthIndex === this.dateFiltered.month()) {
            // When found slide to that month
            this.monthSwiper.slideTo(month, 300, true)
            // And set the found var to true
            found = true
          }
        }

        // In case the month isn't there
        if (!found) {
          // Find the first month in the array and update the filter to match
          this.dateFiltered.month(this.monthsArray[0].monthIndex)
          // Then slide to the first slide of the month slider
          this.monthSwiper.slideTo(0, 300, true)
          // Emit the change of date.
          this.emit()
        }
      },
      findDate () {
        // Find which day the filter is set to so we can update the slider to that position
        // Initiliza a variabe in case day has no jobs
        var found = false
        // Loop through the days array which the slider is created from
        for (var day in this.daysArray) {
          // Find the position of the days array that the current filter date is set to
          if (this.daysArray[day].date === this.dateFiltered.format('D')) {
            // When found slide to that day
            this.daySwiper.slideTo(day, 300, true)
            // And set the found var to true
            found = true
          }
        }
        // In case the day isn't there
        if (!found) {
          // Find the first day in the array and update the filter to match
          this.dateFiltered.date(this.daysArray[0].date)
          // Then slide to the first slide of the day slider
          this.daySwiper.slideTo(0, 300, true)
          // Emit the change of date
          this.emit()
        }
      },
      emit () {
        // Convert the moment date filter to a date object
        var dateObject = this.dateFiltered.toDate()
        // Emit the date filtered event with the new date object
        this.$emit('filtered', dateObject)
      }
    },
    mounted () {
      // On creation
      // Init Date
      this.dateInit()
      // Create all the months
      this.months()
      // Find the month we are on now
      this.findMonth()
      // Create all the days
      this.daysInMonth()
      // Find the date we are on now
      this.findDate()
      // Emit Result
      this.emit()
    }
  }
</script>

<style lang="scss">

  @import "../../scss/custom";
  @import "~bootstrap/scss/bootstrap";

  .dash-header{
    color: $white
  }

  .dash-header--wrapper{
    @extend .mx-auto;
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .cal-months{
    @extend .py-3;
    border-bottom: 1px solid $white-faded
  }

  .cal-days{
    @extend .py-3;
  }

  .cal-months__month,
  .cal-days__day{
    @extend .text-center;
    font-size: 1.2rem;
    font-weight: 300;
    &:hover{
      cursor: pointer;
    }
  }

  .cal-months__month{
    opacity: 0.6;
    &.swiper-slide-active{
      opacity: 1!important
    }
  }

  .cal-days__day{
    &.swiper-slide-active{
      p{
        opacity: 1!important
      }
    }
    &.disabled{
      p{
        opacity: 0.1;
      }
    }
    p{
      @extend .mb-0;
      opacity: 0.6
    }
    &.active{
      p{
        opacity: 1
      }
      p.cal-days__day__date{
        color: $purple;
        position: relative;
        &::after{
          position: absolute;
          background-color: $white;
          display: block;
          height: 30px;
          width: 30px;
          content: '';
          bottom: 0;
          left: 50%;
          border-radius: 50%;
          transform: translateX(-50%);
          z-index: -1

        }
      }
    }
  }

  .dashboard__tabs{

  }
  .dashboard__tabs__tab{
    &.first{
      border-left: 1px solid rgba(76, 75, 77, .1);
    }
    @extend .d-flex, .align-items-center, .py-2, .px-3;
    border-bottom: 1px solid rgba(76, 75, 77, .1);
    border-right: 1px solid rgba(76, 75, 77, .1);

    p{
      @extend .mb-0;
    }

    &:hover{
      cursor: pointer;
    }

    &.active{
      background-color: $purple;
      .dashboard__tabs__tab__icon{
        filter: brightness(0) invert(1);
      }
      p{
        color: $white;
      }
    }
  }

  .dashboard__tabs__tab__icon{
    @extend .img-fluid, .mr-3;
    height: 23px;
  }

  .dashboard__tasks__task{
    @extend .py-4, .px-3, .d-flex, .align-items-center;
    border-bottom: 1px solid rgba(76, 75, 77, .1);
    background-color: $white;

    &.complete{
      .dashboard__tasks__task__check{
        border-radius: 50%;
        border-color: $green;
        .dashboard__tasks__task__check__icon{
          opacity: 1;
          transform: scale(1);

        }
      }
    }
  }

  .dashboard__tasks__task__check{
    @extend .mr-3;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 2px solid $purple;
    display: block;
    position: relative;
    transition: $transition-base;
  }

  .dashboard__tasks__task__check__icon{
    position: absolute;
    opacity: 0;
    left: 5px;
    top: -3px;
    width: 30px;
    transition: $transition-base;
    transform: scale(0);
  }

  .dashboard__tasks__task__name{
    font-size: 1.3rem;
    border: none;
    margin-top: 2px;
    transition: $transition-base;
    border-bottom: 2px solid transparent;

    &:focus{
      outline: none;
      border-bottom: 2px solid $purple;
    }
  }

  .dashboard__tasks__task__actions{
    @extend .ml-auto;
  }

  .dashboard__tasks__task__actions__icon{
    @extend .ml-2;
    width: 30px;
    &:hover{
      cursor: pointer;
    }

  }

  .dashboard__tasks__task__notes{
    background: $linear-background;
    @extend .p-4;
    textarea{
      @extend .p-3, .mb-0;
      border: 1px solid $white;
      background-color: transparent;
      font-family: $font-family-base;
      color: $white;
      resize: none;
      width: 100%;
      &:focus{
        outline: none;
      }
    }
  }

  .dashboard__tasks__task__cycle__radio{
    @extend .p-4, .d-flex, .align-items-center;
    background: $linear-background;

  }

  .dashboard__tasks__task__cycle__radio__option{
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;

    &:checked{
      &+label{
        color: $white;
        background-color: $purple;
      }
    }

    &+label{
      @extend .mb-0, .py-2;
      background-color: $white;
      color: $purple;
      flex: 1;
      text-align: center;
    }
  }

  .slide-enter-active,
  .slide-leave-active {
    transition: all 0.2s;
    transform-origin: top;
    transform: scaleY(100%);
    // max-height: 230px;
  }
  .slide-enter,
  .slide-leave-to
  {
    opacity: 0;
    transform-origin: top;

    transform: scaleY(0);
    // max-height: 0px;
  }


</style>
