<template>
  <div class="navigation">
      <div class="navigation__head">
        <div>
          <img src="./assets/logo-small.png" class="navigation__head__logo cursor" @click="$router.push('/jobs')">
        </div>
        <div>
          <h2 class="navigation__head__title">{{ limited(title) }}</h2>
        </div>
        <div>
          <button @click="showNav()" class="hamburger hamburger--collapse" :class="{'is-active': navigationShow}" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>

        </div>
        <transition name="menu">
          <div v-show:class="navigationShow" class="navigation__menu">
            <div class="navigation__menu__list">
              <h2 class="navigation__menu__list__title">What would you like to see?</h2>
              <div class="navigation__menu__list__links">
                <router-link :to="{ name: 'Jobs' }" v-if="role != 'customer'" class="navigation__menu__list__links__link" >My Dashboard</router-link>
                <router-link :to="{ name: 'Customers' }" v-if="role != 'customer'" class="navigation__menu__list__links__link" >My Customers</router-link>
                <router-link :to="{ name: 'Gurus' }" v-if="role == 'admin'" class="navigation__menu__list__links__link" >My Gurus</router-link>
                <router-link :to="{ name: 'Add Ons' }" v-if="role == 'admin'" class="navigation__menu__list__links__link" >Add-Ons</router-link>
                <router-link :to="{ name: 'Jobs' }" v-if="role == 'customer'" class="navigation__menu__list__links__link" >Upcoming Visits</router-link>
                <router-link :to="{ name: 'Service Schedule' }" v-if="role == 'customer'" class="navigation__menu__list__links__link" >My Service Schedule</router-link>
                <router-link :to="{ name: 'Login' }" class="navigation__menu__list__links__link" href="#">Sign Out</router-link>
              </div>
            </div>
            <contact></contact>
          </div>
        </transition>
      </div>

  </div>

</template>

<script>
  import Contact from '../contact/Contact'

  export default {
    name: 'navigation',
    data () {
      return {
        navigationShow: false
      }
    },
    props: ['title'],
    components: {
      'contact': Contact
    },
    created: function () {
    },
    computed: {
      pageTitle () {
        return this.$store.getters.getPageTitle
      },
      role () {
        return this.$store.state.currentUser.role
      }
    },
    methods: {
      showNav () {
        this.navigationShow = !this.navigationShow
      },
      logout () {
        this.$store.dispatch('logout').then(() => {
          this.$router.push('/')
        })
      },
      limited (string) {
        if (string.length > 30) {
          return string.substring(0, 30) + '...'
        } else {
          return string
        }
      }
    },
    watch: {
      '$route' () {
        this.navigationShow = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  $hamburger-padding-x                       : 0;
  $hamburger-padding-y                       : 0;
  $hamburger-layer-width                     : 35px;
  $hamburger-layer-height                    : 3px;
  $hamburger-layer-spacing                   : 8px !default;
  $hamburger-layer-color                     : white;
  $hamburger-layer-border-radius             : 0;
  $hamburger-hover-opacity                   : 0.7 !default;
  $hamburger-hover-transition-duration       : 0.15s !default;
  $hamburger-hover-transition-timing-function: linear !default;

  // To use CSS filters as the hover effect instead of opacity,
  // set $hamburger-hover-use-filter as true and
  // change the value of $hamburger-hover-filter accordingly.
  $hamburger-hover-use-filter: false !default;
  $hamburger-hover-filter: opacity(50%) !default;


  @import "../../scss/custom";
  @import "~bootstrap/scss/bootstrap";
  @import "~hamburgers/_sass/hamburgers/hamburgers";

  .navigation{
  }

  .navigation__head{
    @extend .py-3, .d-flex, .align-content-center, .justify-content-center;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 101;
    position: relative;
    height: 80px;

    &>*{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      &:first-child{
        @extend .justify-content-start;
      }
      &:nth-child(3){
        @extend .justify-content-end;
      }
      &:nth-child(4){
        @extend .justify-content-start;
      }
    }
  }

  .navigation__menu{
    background: $linear-background;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    padding-top: calc(80px + 1.5rem);
    display: flex;
    transition: all .3s ease;
    opacity: 1;
    @extend .flex-column, .align-items-start;
    height: 100vh;
    .contact{
      width: 100%;
    }

  }

  .menu-enter-active, .menu-leave-active {
    transition: all .5s;
  }
  .menu-enter, .menu-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    height: 0
  }

  .navigation__menu__list{
    @extend .container;
    width: 100%;
  }

  .navigation__menu__list__title{
    @extend .text-left, .mb-4;
    color: $white;
    font-size: 1.75rem;
  }


  .navigation__menu__list__links{
    @extend .d-flex, .flex-column, .align-items-start;

  }

  .navigation__menu__list__links__link{
    color: $white;
    position: relative;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    &:last-child{
      margin-bottom: 0;
    }
    &:after{
      display: block;
      position: absolute;
      height: 2px;
      bottom: 0;
      background-color: $white;
      width: 0;
      content: '';
      transition: $transition-base;
    }
    &:hover{
      color: $white;
      text-decoration: none;
      &:after{
        width: 100%;
      }
    }
  }

  .navigation__head__logo{
    @extend .img-fluid;
    height: 35px;
  }

  .navigation__head__title{
    @extend .mb-0, .text-center;
    color: $white;
  }

  .cursor{
    &:hover{
      cursor: pointer;
    }
  }

  @include media-breakpoint-down(xs){
    .navigation__head__title{
      color: $white;
      font-size: 1.3rem
    }
  };

</style>
