<template>

    <!-- TODO: Pass user type to calendar to render appropriate header -->
  <div>
    <div class="header--gradient">
      <div class="header__wrapper">
        <navigation :title="newAddOn ? 'New Add On' : addOn.name"></navigation>
      </div>
    </div>

    <div class="edit-form">

      <div class="edit-form__section">
        <div class="edit-form__heading">
          <h3>Add-On Details</h3>
        </div>

        <div>
          <span class="has-float-label mb-4">
            <input v-model="addOnName" class="form-control has-float-label__box" id="name" type="text" placeholder=" " />
            <label class="" for="name">Add-On Name</label>
          </span>
          <span class="has-float-label">
            <input v-model="addOnPrice" class="form-control has-float-label__box" id="price" type="text" placeholder=" " />
            <label class="" for="price">Add-On Price</label>
          </span>
        </div>

      </div>

      <div class="edit-form__section--final">
        <button @click="update" class="edit-form__button">{{ newAddOn ? 'Create' : 'Update'}} Add On</button>
      </div>

    </div>
  </div>

</template>

<script>
  import Dashboard from '../dashboard/Dashboard'
  import Navigation from '../navigation/Navigation'
  import { mapGetters } from 'vuex'
  import Datepicker from 'vuejs-datepicker'

  export default {
    name: 'customer',
    data () {
      return {
        addOnName: '',
        addOnPrice: ''
      }
    },
    components: {
      'dashboard': Dashboard,
      'navigation': Navigation,
      Datepicker
    },
    props: ['newAddOn'],
    computed: {
      ...mapGetters([
        'addons'
      ]),
      id () {
        if (!this.newAddOn) {
          return this.$route.params.id
        } else {
          return false
        }
      },
      addOn () {
        var addon = this.addons.find(addon => Number(addon.id) === Number(this.id))
        return addon
      }
    },
    methods: {
      update () {
        var addOnData = {
          data: {
            addon: {
              name: this.addOnName,
              price: this.addOnPrice
            }
          },
          id: ''
        }

        if (this.id) {
          addOnData.id = this.id
        }

        if (this.newAddOn) {
          this.$store.dispatch('createAddOn', addOnData)
        } else {
          this.$store.dispatch('editAddOn', addOnData)
        }
      }
    },
    updated () {
    },
    mounted () {
      if (!this.newAddOn) {
        this.addOnName = this.addOn.name
        this.addOnPrice = this.addOn.price
      }
    }
  }
</script>
