<template>

    <!-- TODO: Pass user type to calendar to render appropriate header -->
  <div>
    <div class="header--gradient">
      <div class="header__wrapper">
        <navigation title="Add Ons"></navigation>
        <div v-if="role === 'admin'" class="new">
          <div class="button-new" @click="newAddOn">
            <img src="./assets/new.png" alt="">
            Add a New Add On
          </div>
        </div>
        <div class="search">
          <input class="search__input" v-model="searchString" type="text" placeholder="Search">
        </div>

      </div>

    </div>

    <div class="edit-form">

      <div class="" v-for="addon in addOns(searchString)">

        <div class="dashboard__tasks__task" >
          {{addon.name}}
          <div class="dashboard__tasks__task__actions add-ons">
            <img class="dashboard__tasks__task__actions__icon" v-on:click="editAddOn(addon.id)" src="./assets/edit.png" alt="">
            <img class="dashboard__tasks__task__actions__icon" v-on:click="deleteAddOn(addon.id)" src="./assets/task-cancel.png" alt="">
          </div>
          <transition name="slide" mode="out-in">
            <div v-show="showDelete[addon.id]" class="dashboard__tasks__task__cancel">
              <p>Remove this addon?</p>
              <div class="dashboard__tasks__task__cancel__confirm">
                <img class="dashboard__tasks__task__actions__icon" v-on:click="removeAddOn(addon.id)" src="./assets/task-confirm.png" alt="">
                <img class="dashboard__tasks__task__actions__icon" v-on:click="deleteAddOn(addon.id)" src="./assets/task-cancel.png" alt="">
              </div>
            </div>
          </transition>
        </div>

      </div>

    </div>
  </div>

</template>

<script>
  import Dashboard from '../dashboard/Dashboard'
  import Navigation from '../navigation/Navigation'
  import draggable from 'vuedraggable'
  import { mapGetters } from 'vuex'

  export default {
    name: 'customers',
    data () {
      return {
        showDelete: {},
        selectedDate: '',
        searchString: ''
      }
    },
    components: {
      'dashboard': Dashboard,
      'navigation': Navigation,
      draggable
    },
    computed: {
      ...mapGetters([
        'customers',
        'gurus',
        'role',
        'jobs',
        'addons'
      ])
    },
    methods: {
      addOns (search) {
        var sorted = this.addons.filter(addon => {
          var addonname = addon.name
          if (addonname.toLowerCase().indexOf(search.toLowerCase()) >= 0) {
            return true
          } else {
            return false
          }
        }).sort(function (a, b) {
          var textA = a.name.toUpperCase()
          var textB = b.name.toUpperCase()
          return (textA < textB) ? -1 : (textA > textB) ? 1 : 0
        })
        console.log(sorted)
        return sorted
      },
      newAddOn () {
        this.$router.push('/addon/new')
      },
      editAddOn (id) {
        this.$router.push({ name: 'Add Ons Edit', params: { id: id } })
      },
      deleteAddOn (task) {
        this.$set(this.showDelete, task, !this.showDelete[task])
      },
      removeAddOn (id) {
        this.$store.dispatch('deleteAddOn', id)
      }
    },
    updated () {
    },
    mounted () {
      this.$store.dispatch('getAddOns')
    }
  }
</script>
<style lang="scss">
  .add-ons{
    min-width: 80px;
  }
</style>