<template>
  <div>
    <div class="header--gradient">
      <div class="header__wrapper">
        <navigation title="Dashboard"></navigation>
        <dashboard :date="selectedDate == '' ? new Date() : new Date(selectedDate)" job="null" :editable="false"></dashboard>
        <calendar v-if="role != 'customer'" @filtered="dateChanged" v-bind:min="minDate" v-bind:max="maxDate"></calendar>
      </div>

    </div>

    <div class="jobs jobs--wrapper">

      <p class="link-hover--back" v-if="role == 'customer' && !showPast" @click="togglePast"><img src="./assets/back.png" alt="">See Past Visits</p>
      <p class="link-hover--back" v-if="role == 'customer' && showPast" @click="togglePast"><img src="./assets/back.png" alt="">See Upcoming Visits</p>

      <h1 v-if="role == 'customer' && !showPast" class="jobs__heading">Upcoming's Visits</h1>
      <h1 v-if="showPast" class="jobs__heading">Past Visits</h1>
      <h1 v-if="role != 'customer'" class="jobs__heading">Visits</h1>

      <div class="jobs__list">

        <router-link v-if="role != 'customer'" class="jobs__list__job" :key="job.id" v-for="job in jobsFiltered(selectedDate)" :to="{ name: 'Job', params: { id: job.id }}">
          {{ customerFullName(job.customer) }}
          <img class="jobs__list__job__icon" src="./assets/jobs-inspect.png" alt="">
        </router-link>

        <p v-if="jobsFiltered(selectedDate).length == 0">
          You have no visits for this day, try a different date.
        </p>

        <router-link v-if="role == 'customer' && !showPast" class="jobs__list__job" :key="job.id" v-for="job in jobsOrdered" :to="{ name: 'Job', params: { id: job.id }}">
          {{ dateObject(job.date) | moment("dddd Do MMM") }}
          <img class="jobs__list__job__icon" src="./assets/jobs-inspect.png" alt="">
        </router-link>

      </div>



      <div v-if="showPast" class="jobs__list">
        <router-link v-if="jobsPast && role == 'customer'" class="jobs__list__job" :key="past.id" v-for="past in jobsPast" :to="{ name: 'Job', params: { id: past.id }}">
          {{ dateObject(past.date) | moment("dddd Do MMM") }}
          <img class="jobs__list__job__icon" src="./assets/jobs-inspect.png" alt="">
        </router-link>
      </div>

      <p v-if="showPast && jobsPast.length == 0">
        You have past visits.
      </p>



    </div>
  </div>

</template>

<script>
  import Dashboard from '../dashboard/Dashboard'
  import Calendar from '../calendar/Calendar'
  import Navigation from '../navigation/Navigation'
  import draggable from 'vuedraggable'
  import { mapGetters } from 'vuex'

  export default {
    name: 'jobs',
    data () {
      return {
        selectedDate: '',
        showPast: false
      }
    },
    components: {
      'dashboard': Dashboard,
      'navigation': Navigation,
      'calendar': Calendar,
      draggable
    },
    computed: {
      ...mapGetters([
        'jobsPast',
        'jobs',
        'currentUser',
        'role',
        'allJobs'
      ]),
      minDate () {
        return Math.min.apply(null, this.allJobs.map(job => Number(new Date(job.date))))
      },
      maxDate () {
        console.log('maxDare')
        return Math.max.apply(null, this.allJobs.map(job => Number(new Date(job.date))))
      },
      jobsOrdered () {
        return this.jobs.slice(0).sort((a, b) => {
          a = new Date(a.date)
          b = new Date(b.date)
          return a - b
        })
      }
    },
    methods: {
      logout () {
        this.$store.dispatch('logout').then(() => {
          this.$router.push('/')
        })
      },
      togglePast () {
        this.showPast = !this.showPast
      },
      customerFullName (job) {
        return job.first_name + ' ' + job.last_name
      },
      dateObject (string) {
        var date = new Date(string)
        return date
      },
      jobsFiltered (date) {
        if (date !== '') {
          return this.allJobs.filter(job => job.date === date).slice(0)
            .sort((a, b) => {
              a = new Date(a.customer.first_name)
              b = new Date(b.customer.first_name)
              return a - b
            })
        } else {
          return this.allJobs.slice(0)
            .sort((a, b) => {
              a = new Date(a.customer.first_name)
              b = new Date(b.customer.first_name)
              return a - b
            })
        }
      },
      dateChanged (value) {
        var dateString = value.getFullYear() + '-' + (('0' + (value.getMonth() + 1)).slice(-2)) + '-' + (('0' + value.getDate()).slice(-2))
        this.selectedDate = dateString
      }
    },
    updated () {
    },
    mounted () {
      // this.$store.dispatch('getPastJobs')
      this.$store.dispatch('getJobs')
      this.$store.dispatch('getUsers')
    }
  }
</script>
