<template lang="html">
  <div class="contact">
    <div class="contact--container">
      <h3 class="contact__heading">Want to get in touch?</h3>
      <p class="contact__lead">Feel free to contact us with any questions.</p>
      <div class="contact__details">
        <a href="tel:0800698636" class="contact__details__detail mb-3">
          <img class="contact__details__detail__image" src="./assets/contact-phone.png" alt="">
          0800 MY TO DO
        </a>
        <a href="mailto:pam@mytodolist.co.nz" class="contact__details__detail mb-3">
          <img class="contact__details__detail__image" src="./assets/contact-mail.png" alt="">
          pam@mytodolist.co.nz
        </a>
        <a href="https://www.mytodolist.co.nz" target="_blank" class="contact__details__detail">
          <img class="contact__details__detail__image" src="./assets/contact-web.png" alt="">
          www.mytodolist.co.nz
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'contact'
}
</script>

<style lang="scss" scoped>

  @import "../../scss/custom";
  @import "~bootstrap/scss/bootstrap";

  .contact{
    @extend .py-5;
  }

  .contact--container{
    @extend .container;
  }

  .contact__heading{
    color: $white;
  }

  .contact__lead{
    @extend .mb-4;
    color: $white-faded;
  }

  .contact__details__detail{
    display: flex;
    align-items: center;
    color: $white;
    text-decoration: none;
    &:hover{
      color: $white;
      .contact__details__detail__image{
        transform: translateY(-2px);
      }
    }
  }

  .contact__details__detail__image{
    @extend .mr-3;
    transition: $transition-base;
    width: 1.7rem;
  }

</style>
