<template>
  <div>
    <div class="dash-header">
      <div class="dash-header--wrapper">
        <div class="cal">
          <div class="cal-months">
            <swiper :options="monthSwiperOptions" :not-next-tick="notNextTick" ref="monthSwiper">
              <swiper-slide class="cal-months__month" v-for="month in monthsArray" :data-year="month.year" :data-month="month.monthIndex">
                {{month.month}}
              </swiper-slide>
            </swiper>
          </div>

          <div class="cal-days">
            <swiper :options="daySwiperOptions" ref="daySwiper">
              <swiper-slide :data-date="day.date" class="cal-days__day" v-bind:class="noJobCheck(day.date)" v-for="day in swiperDays">
                <p class="cal-days__day__day">{{day.day}}</p>
                <p class="cal-days__day__date">{{ day.date }}</p>
              </swiper-slide>
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  import { swiper, swiperSlide } from 'vue-awesome-swiper'
  import { mapGetters } from 'vuex'

  export default {
    name: 'calendar',
    props: ['min', 'max', 'customerid', 'datestart'],
    data () {
      return {
        selectedDate: '',
        notNextTick: true,
        setSlide: false,
        swiperDays: [],
        monthsArray: [],
        monthSwiperOptions: {
          setWrapperSize: true,
          paginationClickable: false,
          mousewheelControl: true,
          observeParents: true,
          slidesPerView: 3,
          centeredSlides: true,
          onSlideChangeEnd: swiper => {
            this.dateFilter.setMonth(swiper.slides[swiper.activeIndex].getAttribute('data-month'))
            this.dateFilter.setFullYear(swiper.slides[swiper.activeIndex].getAttribute('data-year'))
            this.$emit('filtered', this.dateFilter)
            this.swiperDays = []
            this.daysInMonth(this.dateFilter)
          },
          onInit: swiper => {
            // console.log(monthSwiper.slides[0].getAttribute('data-month'))
            // On init loop though the dates and set the slider to today.
            // console.log('this.monthChoose.slides[0]')
            // console.log(this.monthChoose.slides)
            // for (var slide in this.monthChoose.slides) {
            //   console.log(slide)
            //   if (Number.isInteger(Number(slide))) {
            //     if (Number(this.monthChoose.slides[slide].getAttribute('data-year')) === this.dateFilter.getFullYear()) {
            //       if (Number(this.monthChoose.slides[slide].getAttribute('data-month')) === this.dateFilter.getMonth()) {
            //         this.monthChoose.slideTo(slide, 300, true)
            //         console.log('ran')
            //         break
            //       }
            //     }
            //   }
            //   // console.log(swiper.slides[1])
            // }
          }
        },
        daySwiperOptions: {
          setWrapperSize: true,
          paginationClickable: false,
          mousewheelControl: true,
          observeParents: true,
          slidesPerView: 7,
          centeredSlides: true,
          onSlideChangeEnd: swiper => {
            this.dateFilter.setDate(swiper.slides[swiper.activeIndex].getAttribute('data-date'))
            this.$emit('filtered', this.dateFilter)
          },
          slideToClickedSlide: true,
          onInit: swiper => {

          }
        }
      }
    },
    components: {
      swiper,
      swiperSlide
    },
    computed: {
      ...mapGetters([
        'jobs',
        'jobsPast'
      ]),
      allJobs () {
        var all = this.$state.store.getters.allJobs
        var jobs = []
        if (this.customerid) {
          jobs = this.all.filter(job => job.customer_id === Number(this.customerid))
        } else {
          jobs = this.all
        }
        return jobs
      },
      monthChoose () {
        return this.$refs.monthSwiper.swiper
      },
      dayChoose () {
        return this.$refs.daySwiper.swiper
      },
      dateFilter () {
        return new Date()
      }

    },
    methods: {
      logout () {
        this.$store.dispatch('logout').then(() => {
          this.$router.push('/')
        })
      },
      months () {
        var minDate = new Date(this.min)
        minDate.setHours(0, 0, 0, 0)
        var maxDate = new Date(this.max)
        maxDate.setHours(0, 0, 0, 0)
        maxDate.setMonth(maxDate.getMonth() + 1)

        var monthNameList = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

        while (minDate <= maxDate) {
          this.monthsArray.push({monthIndex: minDate.getMonth(), month: monthNameList[minDate.getMonth()], year: minDate.getFullYear()})
          var newDate = minDate
          newDate.setMonth(minDate.getMonth() + 1)
          minDate = newDate
        }
      },
      noJobCheck (date) {
        var dateString = this.dateFilter.getFullYear() + '-' + (('0' + (this.dateFilter.getMonth() + 1)).slice(-2)) + '-' + (('0' + date).slice(-2))
        if (!this.allJobs.find(job => job.date === dateString)) {
          return 'disabled'
        } else {
          return ''
        }
      },
      daysInMonth (data) {
        var year = data.getFullYear()
        var month = data.getMonth()
        var dayNameList = ['S', 'M', 'T', 'W', 'T', 'F', 'S']
        var numberOfDays = new Date(year, month - 1, 0).getDate()
        var jobDates = []
        for (var date in this.allJobs) {
          jobDates.push(this.allJobs[date].date)
        }
        for (var i = 1; i <= numberOfDays; i++) {
          var textDay = new Date(year, month, i).getDay()
          this.swiperDays.push({day: dayNameList[textDay], date: i})
        }
      }
    },
    mounted () {
      this.months()
      this.daysInMonth(this.dateFilter)
      if (this.datestart) {
        var start = new Date(this.datestart)
        this.dateFilter.setMonth(start.getMonth())
        this.dateFilter.setFullYear(start.getFullYear())
        this.dateFilter.setDate(start.getDate())
      }
      this.$emit('filtered', this.dateFilter)
      var day = this.dateFilter.getDate() - 1
      this.dayChoose.slideTo(day, 300, true)
    }
  }
</script>

<style lang="scss">

  @import "../../scss/custom";
  @import "~bootstrap/scss/bootstrap";

  .dash-header{
    color: $white
  }

  .dash-header--wrapper{
    @extend .mx-auto;
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .cal-months{
    @extend .py-3;
    border-bottom: 1px solid $white-faded
  }

  .cal-days{
    @extend .py-3;
  }

  .cal-months__month,
  .cal-days__day{
    @extend .text-center;
    font-size: 1.2rem;
    font-weight: 300;

  }

  .cal-days__day{
    &.swiper-slide-active{
      p{
        opacity: 1!important
      }
    }
    &.disabled{
      p{
        opacity: 0.1;
      }
    }
    p{
      @extend .mb-0;
      opacity: 0.6
    }
    &.active{
      p{
        opacity: 1
      }
      p.cal-days__day__date{
        color: $purple;
        position: relative;
        &::after{
          position: absolute;
          background-color: $white;
          display: block;
          height: 30px;
          width: 30px;
          content: '';
          bottom: 0;
          left: 50%;
          border-radius: 50%;
          transform: translateX(-50%);
          z-index: -1

        }
      }
    }
  }

  .dashboard__tabs{

  }
  .dashboard__tabs__tab{
    &.first{
      border-left: 1px solid rgba(76, 75, 77, .1);
    }
    @extend .d-flex, .align-items-center, .py-2, .px-3;
    border-bottom: 1px solid rgba(76, 75, 77, .1);
    border-right: 1px solid rgba(76, 75, 77, .1);

    p{
      @extend .mb-0;
    }

    &:hover{
      cursor: pointer;
    }

    &.active{
      background-color: $purple;
      .dashboard__tabs__tab__icon{
        filter: brightness(0) invert(1);
      }
      p{
        color: $white;
      }
    }
  }

  .dashboard__tabs__tab__icon{
    @extend .img-fluid, .mr-3;
    height: 23px;
  }

  .dashboard__tasks__task{
    @extend .py-4, .px-3, .d-flex, .align-items-center;
    border-bottom: 1px solid rgba(76, 75, 77, .1);
    background-color: $white;

    &.complete{
      .dashboard__tasks__task__check{
        border-radius: 50%;
        border-color: $green;
        .dashboard__tasks__task__check__icon{
          opacity: 1;
          transform: scale(1);

        }
      }
    }
  }

  .dashboard__tasks__task__check{
    @extend .mr-3;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 2px solid $purple;
    display: block;
    position: relative;
    transition: $transition-base;
  }

  .dashboard__tasks__task__check__icon{
    position: absolute;
    opacity: 0;
    left: 5px;
    top: -3px;
    width: 30px;
    transition: $transition-base;
    transform: scale(0);
  }

  .dashboard__tasks__task__name{
    font-size: 1.3rem;
    border: none;
    margin-top: 2px;
    transition: $transition-base;
    border-bottom: 2px solid transparent;

    &:focus{
      outline: none;
      border-bottom: 2px solid $purple;
    }
  }

  .dashboard__tasks__task__actions{
    @extend .ml-auto;
  }

  .dashboard__tasks__task__actions__icon{
    @extend .ml-2;
    width: 30px;
    &:hover{
      cursor: pointer;
    }

  }

  .dashboard__tasks__task__notes{
    background: $linear-background;
    @extend .p-4;
    textarea{
      @extend .p-3, .mb-0;
      border: 1px solid $white;
      background-color: transparent;
      font-family: $font-family-base;
      color: $white;
      resize: none;
      width: 100%;
      &:focus{
        outline: none;
      }
    }
  }

  .dashboard__tasks__task__cycle__radio{
    @extend .p-4, .d-flex, .align-items-center;
    background: $linear-background;

  }

  .dashboard__tasks__task__cycle__radio__option{
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;

    &:checked{
      &+label{
        color: $white;
        background-color: $purple;
      }
    }

    &+label{
      @extend .mb-0, .py-2;
      background-color: $white;
      color: $purple;
      flex: 1;
      text-align: center;
    }
  }

  .slide-enter-active,
  .slide-leave-active {
    transition: all 0.2s;
    transform-origin: top;
    transform: scaleY(100%);
    // max-height: 230px;
  }
  .slide-enter,
  .slide-leave-to
  {
    opacity: 0;
    transform-origin: top;

    transform: scaleY(0);
    // max-height: 0px;
  }


</style>
