<template>
<div class="container--no-nav lock-footer">
  <div class="container">
    <img class="main__logo--with-link" src="../../assets/logo.png" alt="">
  </div>


  <form class="auth-form" @submit.prevent="reset">

    <router-link class="link-hover--back" :to="{ path: '/'}" replace>
      <img src="./assets/back.png" alt="">
      Go back to login
    </router-link>


    <div class="welcome">
      <h1 class="welcome__heading">We're here to help!</h1>
      <p class="welcome__lead">Enter your email address below and we will send you a recovery email.</p>

    </div>

    <div class="row auth-form__fields">
      <div class="col-12">
        <div class="form-group form-has-icon">
          <span class="has-float-label">
              <input v-model="email" class="form-control" id="mail" type="text" placeholder=" " />
              <label for="mail">E-mail</label>
            </span>
          <img src="./assets/login-mail.png" alt="">
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-12">
        <p v-if="error" class="form-error">{{error}}</p>
        <p v-if="success" class="">{{success}}</p>
        <button class="auth-form__button" type="submit">Reset Password</button>
      </div>


    </div>
  </form>

  <contact class="contact--footer"></contact>

</div>
</template>

<script>
import Contact from '../contact/Contact'

export default {
  name: 'app',
  data () {
    return {
      items: [],
      success: '',
      error: '',
      email: ''
    }
  },
  components: {
    'contact': Contact
  },
  methods: {
    reset () {
      if (this.email === '') {
        this.error = 'Please enter an email address'
      } else {
        var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        if (re.test(this.email)) {
          this.$store.dispatch('reset', {
            email: this.email
          })
          this.error = ''
          this.success = 'Thanks, check your email for further instructions on how to reset your password.'
        } else {
          this.error = 'Please enter a valid email address'
        }
      }
    },
    logout () {
      this.$store.dispatch('logout').then(() => {
        this.$router.push('/')
      })
    }
  }
}
</script>

<style lang="scss">
@import "../../scss/custom";
@import "~bootstrap/scss/bootstrap";

.container--no-nav {
    @extend .pt-5;
}

.contact--footer {
    background: $linear-background;
}

.form-error {
    color: $red;
    font-weight: 500;
}

.auth-form {
    max-width: 400px;
    @extend .mx-auto, .px-4;
}

.main__logo--with-link {
    width: 130px;
    @extend .mb-4, .d-block;
}

.forgot__link {
    @extend .mb-4, .d-block;
}
</style>
