<template>
  <div>
    <div class="dash-header">
      <div class="dash-header--wrapper">
        <div class="dash-cal py-3">

          <div v-if="showGuruChange && editable" class="change-guru">
            <div class="change-guru__title mb-4">
              <h3 class="mx-auto">Change Guru</h3>
              <p class="change-guru__title__back" @click="toggleChangeGuru()">Done</p>
            </div>
            <div class="change-guru__select">
              <v-select placeholder="Select a new Guru" class="mb-4" :on-change="updateJobGuru" :options="allGurus"></v-select>
            </div>
          </div>

          <div v-if="showDateChange && editable" class="change-guru">
            <div class="change-guru__title mb-4">
              <h3 class="mx-auto">Change Service Date</h3>
              <p class="change-guru__title__back" @click="toggleChangeDate()">Done</p>
            </div>
            <div class="change-guru__date-select">
              <datepicker @input="event" class="mb-4" v-model="endDate" placeholder="Click to select a new date" input-class="form-control no-border"></datepicker>
            </div>
          </div>

          <div class="row no-gutters" :class="{'fade-out': showGuruChange || showDateChange}">

            <div class="col-6">

              <div class="dash-cal__date">

                <p class="dash-cal__date__day">
                  {{ calDate | moment("D") }}
                </p>

                <div class="dash-cal__date__date">
                  <p>{{ calDate | moment("dddd") }}</p>
                  <p>{{ calDate | moment("MMMM YYYY") }}</p>
                </div>

              </div>

              <div @click="toggleChangeDate()" v-if="user.role == 'admin' && editable && !nojob && isFuture" class="dash-cal__date__edit--day link-hover--edit">
                <img src="./assets/edit.png" alt="">
                Edit Service Date
              </div>


            </div>

            <div class="col-6 d-flex flex-column">

              <div class="dash-user mt-auto" :class="{'dash-user--left': user.role != 'guru' && guru != ''}">

                <img v-if="(job != 'null' || user.role == 'guru') && (userPhoto.avatar_small != '')" class="dash-user__avatar" :src="userPhoto.avatar_small" alt="">

                <div v-if="user.role != 'guru' && guru != ''" class="dash-user__info text-left">
                  <p>Todays Guru,</p>
                  <p>{{ guru.first_name }}</p>
                </div>

                <div v-if="user.role == 'guru' || guru == ''" class="dash-user__info text-right">
                  <p>Welcome back,</p>
                  <p>{{ user.first_name }}</p>
                </div>

              </div>

              <div @click="toggleChangeGuru()" v-if="user.role != 'customer' && editable && !nojob && isFuture" class="dash-cal__date__edit--user mt-auto link-hover--edit">
                <img src="./assets/edit.png" alt="">
                Edit Guru
              </div>


            </div>

            <div class="col-6 dash-cal__date__date pt-2">
              Today's date is <span class="dash-cal__date__date__bold">{{ new Date() | moment('timezone', 'Pacific/Auckland', 'MMMM Do YYYY') }}</span>
            </div>
            <div class="col-6 delete-link pt-2" @click="deleteJob()" v-if="user.role == 'admin' && editable && !nojob && isFuture">
              Delete Job
            </div>


          </div>

        </div>
      </div>
    </div>


  </div>

</template>

<script>
  import { Carousel, Slide } from 'vue-carousel'
  import vSelect from 'vue-select'
  import Datepicker from 'vuejs-datepicker'
  import { mapGetters } from 'vuex'

  export default {
    name: 'calendar',

    data () {
      return {
        months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        allGurus: [],
        showGuruChange: false,
        showDateChange: false
      }
    },
    props: ['job', 'editable', 'nojob', 'date'],
    components: {
      Carousel,
      Slide,
      vSelect,
      Datepicker
    },
    computed: {
      ...mapGetters([
        'users',
        'currentUser'
      ]),
      calDate () {
        if (this.date === null) {
          return new Date()
        } else {
          return new Date(this.date)
        }
      },
      user () {
        return this.currentUser
      },
      guru () {
        if (this.job !== 'null') {
          return this.job.guru
        } else {
          return ''
        }
      },
      userPhoto () {
        if (this.job !== 'null') {
          console.log(this.users.find(u => u.id === this.guru.id))
          return this.users.find(u => u.id === this.guru.id)
        } else {
          return this.users.find(u => u.id === this.currentUser.id)
        }
      },
      isFuture () {
        var current = new Date(this.job.date)
        current.setHours(0, 0, 0, 0)
        var today = new Date()
        today.setHours(0, 0, 0, 0)
        if (current >= today) {
          return true
        } else {
          return false
        }
      },
      gurus () {
        var gurus = this.users.filter(user => user.role === 'guru')
        return gurus
      }
    },
    methods: {
      logout () {
        this.$store.dispatch('logout').then(() => {
          this.$router.push('/')
        })
      },
      deleteJob () {
        var self = this
        this.$dialog.confirm('<div class="text-center confirm-box"><p>Are you sure you want to delete this job?</p><p class="error">This cannot be undone</p></div>', {
          html: true,
          okText: 'Delete',
          cancelText: 'Nope',
          animation: 'fade'
        })
          .then(function () {
            self.$store.dispatch('deleteJob', { id: self.job.id })
            self.$router.push('/jobs')
          })
          .catch(function () {
            console.log('Cancelled')
          })
      },
      event (val) {
        var jobChange = {}
        var day = ('0' + val.getDate()).slice(-2)
        var month = val.getMonth() + 1
        var year = val.getFullYear()
        jobChange['date'] = year + '-' + month + '-' + day
        this.$store.dispatch('updateJob', { 'data': jobChange, 'jobId': this.job.id })
      },
      toggleChangeGuru () {
        this.showGuruChange = !this.showGuruChange
      },
      toggleChangeDate () {
        this.showDateChange = !this.showDateChange
      },
      changedGuru (val) {
      },
      updateJobGuru (val) {
        var jobChange = {}
        jobChange['guru_id'] = val.value
        var guru = this.gurus.find(g => g.id === val.value)
        jobChange['guru'] = guru
        // jobChange['guru'] = val
        this.$store.dispatch('updateJob', { 'data': jobChange, 'jobId': this.job.id })
      }
    },
    mounted () {
      this.$store.dispatch('getUsers')
      for (var guru in this.gurus) {
        var guruName = this.gurus[guru].first_name + ' ' + this.gurus[guru].last_name
        var guruId = this.gurus[guru].id
        this.allGurus.push({label: guruName, value: guruId})
      }
    }
  }
</script>

<style lang="scss">

  @import "../../scss/custom";
  @import "~bootstrap/scss/bootstrap";

  .delete-link{
    // @extend .py-3;
    color: #FE8285;;
    &:hover{
      cursor: pointer;
    }
  }

  .change-guru{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .change-guru__select{
    @extend .mx-auto;
    max-width: 600px;
  }

  .change-guru__date-select{
    color: $black;
    @extend .mx-auto;
    max-width: 600px;

  }

  .change-guru__title{
    position: relative;
    @extend .d-flex;
  }

  .change-guru__title__back{
    position: absolute;
    top: 0;
    right: 0;
    &:hover{
      cursor: pointer;
    }
  }

  .v-select{
    .dropdown-toggle{
      border-radius: 0!important;
      padding-top: 4px!important;
      padding-bottom: 4px!important;
      background-color: $white!important;
      border: 1px solid rgba(0,0,0,0.08)!important;
    }
    .open-indicator{
      bottom: 9px!important;
    }
    .selected-tag{
      left: 0!important;
    }
    .dropdown-menu{
      border: 1px solid rgba(0,0,0,0.08)!important;
      border-radius: 0;
      li a{
        @extend .py-3;
      }
      li.highlight a,
      li:hover a{
        color: $white!important;
        background-color: $purple!important;
      }
    }
  }

  .fade-out{
    opacity: 0
  }

  .dash-header{
    color: $white
  }

  .dash-cal{
    border-bottom: 1px solid $white-faded;
    position: relative;
  }

  .dash-cal__date{
    @extend .d-flex, .align-items-center;
  }

  .dash-cal__date__day{
    font-weight: 500;
    font-size: 3rem;
    @extend .mr-3, .mb-0;
  }

  .dash-cal__date__date{
    color: rgba($white, 0.6);
    p{
      font-size: 0.9rem;
      @extend .mb-0;
    }
  }

  .dash-cal__date__date__bold{
    font-weight: 500;
    color: $white;
  }

  .dash-user{
    @extend .d-flex, .align-items-center, .justify-content-end;
    height: 100%;
    &.dash-user--left{
      @extend .justify-content-start;
    }
  }

  .dash-user__avatar{
    @extend .img-fluid, .mr-3;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid $white;
    object-fit: cover;
  }

  .dash-user__info{
    p{
      font-size: 0.9rem;
      @extend .mb-0;
    }
  }

  .dash-user__info__type{
    opacity: 0.6;
  }

  .cal-months{
    @extend .py-3;
    border-bottom: 1px solid $white-faded
  }

  .cal-days{
    @extend .py-3;
  }

  .cal-months__month,
  .cal-days__day{
    @extend .text-center;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .cal-days__day{
    p{
      @extend .mb-0;
      opacity: 0.6
    }
    &.active{
      p{
        opacity: 1
      }
      p.cal-days__day__date{
        color: $purple;
        position: relative;
        &::after{
          position: absolute;
          background-color: $white;
          display: block;
          height: 30px;
          width: 30px;
          content: '';
          bottom: 0;
          left: 50%;
          border-radius: 50%;
          transform: translateX(-50%);
          z-index: -1

        }
      }
    }
  }

  .dashboard__tabs{

  }
  .dashboard__tabs__tab{
    &.first{
      border-left: 1px solid rgba(76, 75, 77, .1);
    }
    @extend .d-flex, .align-items-center, .py-2, .px-3;
    border-bottom: 1px solid rgba(76, 75, 77, .1);
    border-right: 1px solid rgba(76, 75, 77, .1);

    p{
      @extend .mb-0;
    }

    &:hover{
      cursor: pointer;
    }

    &.active{
      background-color: $purple;
      .dashboard__tabs__tab__icon{
        filter: brightness(0) invert(1);
      }
      p{
        color: $white;
      }
    }
  }

  .dashboard__tabs__tab__icon{
    @extend .img-fluid, .mr-3;
    height: 23px;
  }

  .dashboard__tasks__task{
    @extend .py-4, .px-3, .d-flex, .align-items-center;
    border-bottom: 1px solid rgba(76, 75, 77, .1);
    background-color: $white;

    &.complete{
      .dashboard__tasks__task__check{
        border-radius: 50%;
        border-color: $green;
        .dashboard__tasks__task__check__icon{
          opacity: 1;
          transform: scale(1);

        }
      }
    }
  }

  .dashboard__tasks__task__check{
    @extend .mr-3;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 2px solid $purple;
    display: block;
    position: relative;
    transition: $transition-base;
  }

  .dashboard__tasks__task__check__icon{
    position: absolute;
    opacity: 0;
    left: 5px;
    top: -3px;
    width: 30px;
    transition: $transition-base;
    transform: scale(0);
  }

  .dashboard__tasks__task__name{
    font-size: 1.3rem;
    border: none;
    margin-top: 2px;
    transition: $transition-base;
    border-bottom: 2px solid transparent;

    &:focus{
      outline: none;
      border-bottom: 2px solid $purple;
    }
  }

  .dashboard__tasks__task__actions{
    @extend .ml-auto;
  }

  .dashboard__tasks__task__actions__icon{
    @extend .ml-2;
    width: 30px;

  }

  .dashboard__tasks__task__notes{
    background: $linear-background;
    @extend .p-4;
    textarea{
      @extend .p-3, .mb-0;
      border: 1px solid $white;
      background-color: transparent;
      font-family: $font-family-base;
      color: $white;
      resize: none;
      width: 100%;
      &:focus{
        outline: none;
      }
    }
  }

  .dashboard__tasks__task__cycle__radio{
    @extend .p-4, .d-flex, .align-items-center;
    background: $linear-background;

  }

  .dashboard__tasks__task__cycle__radio__option{
    position: absolute;
    z-index: -1;
    opacity: 0;
    pointer-events: none;

    &:checked{
      &+label{
        color: $white;
        background-color: $purple;
      }
    }

    &+label{
      @extend .mb-0, .py-2;
      background-color: $white;
      color: $purple;
      flex: 1;
      text-align: center;
    }
  }

  .slide-enter-active,
  .slide-leave-active {
    transition: all 0.2s;
    transform-origin: top;
    transform: scaleY(100%);
    // max-height: 230px;
  }
  .slide-enter,
  .slide-leave-to
  {
    opacity: 0;
    transform-origin: top;

    transform: scaleY(0);
    // max-height: 0px;
  }


</style>
