
<template>
  <div class="container--no-nav lock-footer">
      <div class="container">
        <img class="main__logo" src="../../assets/logo.png" alt="">
      </div>

      <form class="auth-form" @submit.prevent="login">
        <div class="welcome">
          <h1 class="welcome__heading">Welcome</h1>
          <p class="welcome__lead">Log in to access your account</p>
        </div>

        <div class="row auth-form__fields">
          <div class="col-12"> 
            <div class="form-group form-has-icon mb-4">
              <span class="has-float-label">
                <input v-model="email" class="form-control" id="mail" type="text" placeholder="" />
                <label for="mail">E-mail</label>
              </span>
              <img src="./assets/login-mail.png" alt="">
            </div>
          </div>

          <div class="col-12">
            <div class="form-group form-has-icon">
              <span class="has-float-label">
                <input v-model="password" class="form-control" id="pass" type="password" placeholder="" />
                <label for="pass">Password</label>
              </span>
              <img src="./assets/login-pass.png" alt="">
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-12">
            <p v-if="errorState.state" class="form-error">{{errorState.reason}}</p>
            <router-link class="auth-form__link" :to="{ name: 'Forgot Password'}" replace>Forgot password?</router-link>
          </div>

          <div class="col-12">
            <button class="auth-form__button" type="submit">
              <span v-if="!pending">Log In</span>
              <span v-if="pending">
                <img src="./assets/spinner.svg" class="auth-form__button__spinner" alt="">
              </span>
            </button>
          </div>


        </div>
      </form>

    <contact class="contact--footer"></contact>

  </div>

</template>

<script>
  import Contact from '../contact/Contact'
  import { mapGetters } from 'vuex'
  export default {
    data () {
      return {
        email: '',
        password: ''
      }
    },
    name: 'app',
    // props: ['message'],
    components: {
      'contact': Contact
    },
    computed: {
      ...mapGetters([
        'errorState',
        'pending',
        'getToken'
      ])
    },
    methods: {
      login () {
        const { email, password } = this
        if (email === '' || password === '') {
          this.errorState.state = true
          this.errorState.reason = 'Please enter an email and password'
        } else {
          let spaceless = email.split(' ').join('').toLowerCase()
          this.$store.dispatch('login', { email: spaceless, password: password }).then(() => {
            this.$store.dispatch('getJobs')
            // this.$store.dispatch('getPastJobs')
            this.$store.dispatch('getTemplates')
            this.$store.dispatch('getUsers')
            this.$router.push('/jobs')
          })
        }
      }
    },
    mounted () {
      this.$store.commit('LOGIN_ERROR', {state: false, reason: ''})
      this.$store.dispatch('logout')
    }
  }
</script>

<style lang="scss">

  @import "../../scss/custom";
  @import "~bootstrap/scss/bootstrap";

  .container--no-nav{
    @extend .pt-5;
  }

  .contact--footer{
    background: $linear-background;
  }

  .form-error{
    color: $red;
    font-weight: 500
  }

  .auth-form{
    max-width: 400px;
    @extend .mx-auto, .px-4;
  }


</style>
