<template>
  <div class="container-fluid px-0">
    <transition name="opacity">
      <div class="loading header--gradient" v-if="isFetching == true">
        <span class="loading__details">
          <img class="loading__details__icon" src="./assets/loading.svg" alt="">
          Loading
        </span>
      </div>
    </transition>
    <transition name="height">
      <div class="loading-error" v-if="apiError != false && typeof apiError !== 'undefined'">
        <div class="container">
          <p>{{ apiError }}</p>
        </div>
      </div>
    </transition>
    <router-view/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'app',
  updated () {
  },
  mounted () {

  },
  computed: {
    ...mapGetters(['isFetching', 'apiError'])
  },
  watch: {
    '$route' () {
      this.$store.commit('NOT_PENDING')
      this.$store.commit('UPLOADED')
      this.$store.dispatch('getJobs')
      this.$store.dispatch('getTemplates')
      this.$store.dispatch('getUsers')
      console.log('route changed')
    }
  },
  created: function () {
    this.axios.interceptors.response.use(undefined, function (err) {
      return new Promise(function (resolve, reject) {
        if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
          // if you ever get an unauthorized, logout the user
          this.$store.dispatch('logout')
          // you can also redirect to /login if needed !
        }
        throw err
      })
    })
  }
}
</script>

<style lang="scss">

  @import "./scss/styleguide.scss";
  @import "./scss/edit-forms.scss";
  @import "./scss/jobs.scss";
  @import "./scss/addons.scss";


</style>
<style lang="scss" scoped>

  .loading{
    opacity: 0.9;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading__details{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 2rem;
  }

  .loading__details__icon{
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }

  .loading-error{
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #CA001A;
    p {
      color: white;
      font-weight: 500;
      margin-bottom: 0!important;
    }
  }

  .opacity-enter-active,
  .opacity-leave-active{
    transition: all .3s ease-in-out;
  }
  .opacity-enter, .opacity-leave-to{
    opacity: 0;
  }

  .height-enter-active,
  .height-leave-active{
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
  }
  .height-enter, .height-leave-to{
    max-height: 200px;
  }

</style>
