.search{
  @extend .d-flex, .justify-content-center;
}

.search__input{
  @extend .mb-4, .mt-4, .mx-auto;
  width: calc(100% - 3rem);
  max-width: calc(600px - 3rem);
  padding: $input-btn-padding-y $input-btn-padding-x;
  border-radius: 3px;
  outline: none;
  border: none;
}

.edit-form{
  @extend .px-4, .mx-auto, .py-5;
  max-width: 600px;
}

.edit-form__section{
  @extend .py-4, .mb-4;
  border-bottom: 2px solid $purple;
}

.edit-form__avatar{
  @extend .pb-5, .d-flex, .align-items-center;
  input{
    display: none;
  }
  label{
    position: relative;
    &:hover{
      cursor: pointer
    }
  }
  .avatar{
    @extend .mr-3;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    &.unselected{
      border: 2px solid $purple;
    }
    &.dim{
      position: relative;
      &+span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #4C4B4D;
        z-index: -1;
        content: '';
        display: block;
      }
      opacity: 0.5;
    }
  }
}

.edit-form__avatar__spinner{
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.edit-form__section--final{
  @extend .pt-4, .mb-4;
}

.edit-form__heading{
  @extend .d-flex, .mb-4;
}

.edit-form__heading__edit{
  @extend .ml-auto, .mb-0, .d-block;
  color: $purple;
  font-weight: 500;
  img{
    width: 15px;
    margin-bottom: 3px;
    transition: all 0.3s ease-in-out;
  }

  &:hover{
    cursor: pointer;
    img{
      transform: translateY(-3px);
    }
  }
}

.edit-form__detail{

}

.edit-form__detail--bold{
  font-weight: 500;
}

.edit-form__detail--profile{
  &>img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  @extend .d-flex, .align-items-center;
}

.edit-form__detail__email{
  @extend .ml-4, .mb-0, .d-block;
  &>img{
    @extend .mr-2;
    width: 20px;
    margin-bottom: 4px;
  }
}

.edit-form__detail--icon{
  @extend .d-block, .mb-0, .py-3;
  color: $purple;
  font-size: 1.1rem;
  img{
    width: 30px;
    @extend .mr-2, .mb-2;
  }
}

.edit-form__button{
  @extend .auth-form__button;
}

.edit-form__text{
  color: #4C4B4D;
  font-size: 1rem;
}

.day-radio{
  @extend .d-flex, .justify-content-between;
  width: 100%;

  input{
    position: absolute;
    z-index: -99;
    opacity: 0;
    &:checked + label {
      color: $white;
      &:before{
        background-color: $purple;
      }
    }
    &.no-jobs:not(:checked) + label{
      color: $white;
      &:before{
        background-color: $purple;
        opacity: 0.6;
      }
    }
  }

  label{
    &:hover{
      cursor: pointer;
    }
    @extend .d-flex, .align-items-center, .justify-content-center;
    position: relative;
    width: 40px;
    height: 40px;
    color: $purple;
    p{
      @extend .mb-0;
    }
    &:before{
      z-index: -1;
      content: '';
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      border: 1px solid $purple;
      background-color: $white;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
  }

}
.edit-form__list__job{
  @extend .py-4, .px-4, .mb-4, .d-flex, .align-items-center;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  font-size: 1.4rem;
  color: $purple;
  &:hover{
    cursor: pointer;

  }
}
.edit-form__list__job__icon{
  @extend .ml-auto;
  width: 30px;
}
