.jobs{
  @extend .my-5;

}

.jobs--wrapper{
  @extend .px-4, .mx-auto;
  max-width: 600px;
}

.jobs__heading{
  font-size: 1.6rem;
  @extend .mb-5;
}

.jobs__list{
}

.jobs__list__job{
  @extend .py-4, .px-4, .mb-4, .d-flex, .align-items-center;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  font-size: 1.4rem;
}
.jobs__list__job__icon{
  @extend .ml-auto;
  width: 30px;
}

.link-hover{
  &:hover{
    cursor: pointer
  }
}

.link-hover--back{
  @extend .d-flex, .align-items-center, .mb-4;
  &:hover{
    cursor: pointer
  }
  img{
    @extend .mr-2;
    margin-bottom: 1px;
  }
  color: $purple;
}

.link-hover--edit{
  @extend .d-flex, .align-items-center;
  &:hover{
    cursor: pointer;
    img {
      transform: translateY(-2px);
    }
  }
  img{
    @extend .mr-2;
    width: 15px;
    margin-bottom: 1px;
    transition: all 0.3s ease;
  }
  color: $white;
}


.jobs__list__job__name{
  color: $black;
  font-weight: 500;

}
.jobs__list__job__date{
  @extend .mb-0;
  font-weight: 300;
  color: $black;
}
