@import "./custom";
@import "~bootstrap/scss/bootstrap";
@import "~float-label-css/scss/float-label";
@import "~swiper/dist/css/swiper.css";

.container.app-container {
  max-width: 500px;
}

.link{
  color: $purple;
  &:hover{
    cursor: pointer;
  }
}

.form-control {
  border-top: none!important;
  border-left: none!important;
  border-right: none!important;
}
$icon-width: 20px;

.form-has-icon {
  position: relative;

  img {
    position: absolute;
    left: 0;
    width: $icon-width;
    top: 50%;
    transform: translateY(-50%);
  }

  .form-control,
  label {
    padding-left: calc(#{$input-btn-padding-x} + #{$icon-width});
  }
}

.has-float-label {
  input,
  select,
  textarea {
    border-bottom: 2px solid $purple;

    &:focus {
      outline: none;
      border-color: rgba($purple,.6);
    }
  }
  label{
    top: -5px;
    @extend .mb-0;
  }
}

.has-float-label input:placeholder-shown:not(:focus) + * {
  top: 0.4em;
}

.has-float-label__box{
  border: 1px solid rgba(0, 0, 0, 0.1)!important;
  &+label{
    @extend .px-2;
  }
  &+label{
    background-color: $white;
    top: -10px;
    left: 5px;
  }
}
.form-control:focus{
  box-shadow: none!important
}


.no-border{
  border: none!important;
}

.vdp-datepicker__calendar .cell.selected{
  background: $purple!important;
  color: $white;
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover{
  border-color: $purple!important;
}

.main__logo {
  width: 130px;
  @extend .mb-5, .d-block;
}

.welcome {
  @extend .mb-5;
}

.welcome__heading {
  font-size: 2rem;
}

.welcome__lead {
  @extend .mb-0;
}

.button {
  border-radius: 2px;
  color: $white;
}

.auth-form {
  @extend .mb-5;
}

.auth-form__fields {
  @extend .mb-4;
}

.auth-form__link {
  @extend .mb-4, .d-block;
}

.auth-form__button {
  @extend .button;
  font-size: 1.25rem;
  width: 100%;
  border: none;
  padding-top: $input-btn-padding-y;
  padding-bottom: $input-btn-padding-y;
  background: $linear-background;
  background-size: 1px 200px;
  position: relative;
  transition: $transition-base;

  &:hover {
    cursor: pointer;
    background-position: 100px;
  }
}

.auth-form__button__spinner{
  height: 26px;
}

.dashboard__tabs {}

.dashboard__tabs__tab {
  height: 100%;
  &.first {
    border-left: 1px solid rgba(76, 75, 77, .1);
  }
  @extend .d-flex, .align-items-center, .py-2, .px-3;
  border-bottom: 1px solid rgba(76, 75, 77, .1);
  border-top: 1px solid rgba(76, 75, 77, .1);
  border-right: 1px solid rgba(76, 75, 77, .1);

  p {
    @extend .mb-0;
  }

  &:hover {
    cursor: pointer;
  }

  &.active {
    background-color: $purple;

    .dashboard__tabs__tab__icon {
      filter: brightness(0) invert(1);
    }

    p {
      color: $white;
    }
  }
}

.dashboard__tabs__tab__icon {
  @extend .mr-1, .mr-sm-3;
  height: 23px;
}

@include media-breakpoint-down(xs){
  .dashboard__tabs__tab__icon {
    height: 15px;
  }
};

.dashboard__tasks__task {
  position: relative;
  @extend .py-4, .px-3, .d-flex, .align-items-center;
  border-bottom: 1px solid rgba(76, 75, 77, .1);
  background-color: $white;

  &.complete {
    .dashboard__tasks__task__check {
      border-radius: 50%;
      border-color: $green;

      .dashboard__tasks__task__check__icon {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.dashboard__tasks__task__cancel{
  display: flex;
  @extend .align-items-center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  font-size: 1.3rem;
  padding-left: $input-btn-padding-x;
  padding-right: $input-btn-padding-x;
  transition: $transition-base;
  p{
    @extend .mb-0;
  }

}

.dashboard__tasks__task__cancel__confirm{
  margin-left: auto;
}

.dashboard__tasks__task__check {
  @extend .mr-3;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 2px solid $purple;
  display: block;
  position: relative;
  transition: $transition-base;
}

.dashboard__tasks__task__check__icon {
  position: absolute;
  opacity: 0;
  left: 5px;
  top: -3px;
  width: 30px;
  transition: $transition-base;
  transform: scale(0);
}

.dashboard__tasks__task__name {
  font-size: 1.3rem;
  border: none;
  margin-top: 2px;
  transition: $transition-base;
  border-bottom: 2px solid transparent;
  width: 40%;

  &:focus {
    outline: none;
    border-bottom: 2px solid $purple;
  }
}

.dashboard__tasks__task__actions {
  @extend .ml-auto;
}

.dashboard__tasks__task__actions__icon {
  @extend .ml-2;
  width: 30px;
}

.dashboard__tasks__task__notes {
  background: $linear-background;
  @extend .p-4;

  textarea {
    @extend .p-3, .mb-0;
    border: 1px solid $white;
    background-color: transparent;
    font-family: $font-family-base;
    color: $white;
    resize: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.dashboard__tasks__task__cycle__radio {
  @extend .p-4, .d-flex, .align-items-center;
  background: $linear-background;
}

.dashboard__tasks__task__cycle__radio__option {
  position: absolute;
  z-index: -1;
  opacity: 0;
  // pointer-events: none;
  &:checked {
    &+label {
      color: $white;
      background-color: $purple;
    }
  }

  &+label {
    @extend .mb-0, .py-2;
    background-color: $white;
    color: $purple;
    flex: 1;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.2s;
  transform-origin: top;
  transform: scaleY(100%);
  // max-height: 230px;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  // max-height: 0px;
}

.header--gradient{
  background: $linear-background;
}

.header__wrapper{
  @extend .container, .px-0;
}


    .new{
      @extend .d-flex, .justify-content-center;
    }

    .button-new{
      img{
        transition: all 0.3s ease;
        height: 30px;
        @extend .mr-3;
      }
      @extend .px-4, .mx-4, .mt-3, .d-flex, .align-items-center, .justify-content-center;
      color: $white;
      padding-top: .75rem;
      padding-bottom: .75rem;
      font-size: 1.2rem;
      width: calc(100% - 3rem);
      max-width: calc(400px - 3rem);
      border: 2px solid $white;
      border-radius: 2px;
      &:hover{
        cursor: pointer;
        img{
          transform: translateX(-3px);
        }
      }
    }

.lock-footer{
  @extend .pb-0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .contact--footer{
    @extend .mt-auto;
  }
}
